<% provide(:title, t('.title')) %>

<%= form_for @current_institution, html: { class: 'form-horizontal', multipart: true}  do |f| %>
  <%= render partial: 'shared/errors', locals: { model: @current_institution } %>
  <div class="control-group">
    <%= f.label :full_name , t('.full_name'), class: 'control-label required' %>
    <div class="controls">
	    <%= f.text_field :full_name, class: 'input-xxlarge', 'aria-required' => 'true' %>
	  </div>
  </div>

  <div class="control-group">
    <%= f.label :shib_entity_id, t('.shib_entity_id'), class: 'control-label' %>
    <div class="controls">

      <%= f.text_field :shib_entity_id, readonly: @current_institution.is_shibboleth?, disabled: @disabled %>
      <%= content_tag(:span, '', title: t('.shib_entity_id_tooltip'), data: { toggle: 'tooltip', placement: 'right', html: 'true'}, class: 'icon questionmark tip') %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :shib_domain , "Shibboleth Domain", :class => "control-label "%>
    <div class="controls">

      <%= f.text_field :shib_domain, readonly: @current_institution.is_shibboleth? , disabled: @disabled %>
      <%= content_tag(:span, '', title: t('.shib_domain_id_tooltip'), data: { toggle: 'tooltip', placement: 'right', html: 'true' }, class: 'icon questionmark tip') %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :parent_id , t('.parent'), class: 'control-label' %>
    <div class="controls">

      <% if user_role_in?(:dmp_admin) %>
        <%= f.select :parent_id,
              @categories,
              { selected:  @current_institution.parent_id, :include_blank => 'none'},
              {:disabled => true}
        %>
      <% else %>

        <%= f.select :parent_id,
            @sub_institutions,
            #@institution_pool,
            #{:disabled => (!@current_institution.is_shibboleth? || !user_role_in?(:institutional_admin))}
            { selected:  @current_institution.parent_id, :include_blank => 'none'},
            {:disabled => true}
        %>

      <% end %>

      <%= content_tag(:span, '', title: t('.parent_tooltip'), data: { toggle: 'tooltip', placement: 'right', html: 'true' }, class: 'icon questionmark tip') %>

    </div>
  </div>

  <div class="control-group">
    <%= f.label :nickname, t('.nickname'), class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :nickname %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :url, t('.url'), class: 'control-label' %>
    <%= f.label :url_text, t('.url_text'), class: 'hide' %>
    <div class="controls">
      <%= f.text_field :url_text, placeholder: t('.url_text_placeholder') %>
      <%= f.text_field :url, placeholder: t('.url_placeholder') %>
      <%= content_tag(:span, '', title: t('.url_tooltip'), data: { toggle: 'tooltip', placement: 'right', html: 'true' }, class: 'icon questionmark tip') %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :contact_info, t('.contact_info'), class: 'control-label' %>
    <%= f.label :contact_email, t('.contact_email'), class: 'hide' %>
    <div class="controls">
      <%= f.text_field :contact_info, placeholder: t('.contact_info_placeholder') %>
      <%= f.text_field :contact_email, placeholder: t('.contact_email_placeholder') %>
      <%= content_tag(:span, '', title: t('.contact_tooltip'), data: { toggle: 'tooltip', placement: 'right', html: 'true' }, class: 'icon questionmark tip') %>
    </div>
  </div>

  <div class="control-group">

    <%= f.label :logo, t('.logo'), class: 'control-label'  %>

    <div class="controls">
      <%= image_tag @current_institution.logo.url if @current_institution.logo? %>
      <%= f.file_field :logo, :onchange =>"validateFiles(this);" %>
      <%= f.hidden_field :logo_cache %>
      <%= content_tag(:span, '', title: t('.logo_tooltip'), data: { toggle: 'tooltip', placement: 'right', html: 'true' }, class: 'icon questionmark tip') %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit t('.upload_button'), class: 'btn' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :desc , t('.desc'), class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :desc, rows: 5, class: 'input-xxlarge' %>
    </div>
  </div>
  <div class="buttons">
    <%= f.submit t('.save_button'), class: 'btn btn-green' %>
    <%= button_tag t('.cancel_button'), type: :reset, class: 'btn' %>
  </div>
<% end %>
