<% if @resources_count > 0 %>

	<%= content_tag :h2, t('.headline', institution: @current_institution.full_name) %>
	<%= content_tag :p, t('.visibility_info_html') %>
	<table class="table table-striped">

		<thead>
			<tr>
				<%= content_tag :th, t('.details'), class: 'span4' %>
				<%= content_tag :th, t('.action') %>
				<%= content_tag :th, t('.institution') %>
				<%= content_tag :th, t('.creation_date') %>
				<%= content_tag :th, t('.modification_date') %>
			</tr>
		</thead>
		<tbody>
		<% @resource_contexts.each do |resource_context| %>
			<tr>
				<td>
					<div class="toggle-links">
						<%= resource_context.resource.label if resource_context.resource %>
					</div>
				</td>
				<td><%= link_to raw(''), edit_resource_path(resource_context.resource_id, origin_url: smart_origin_url,
	                    tab_number: (defined?(@tab_number) ? @tab_number: nil)), :class => 'icon edit-user', :title => 'Edit' %>

				</td>
				<td><%= resource_context.institution.nickname if resource_context.institution %></td>
				<td><%= l(resource_context.resource.created_at) if resource_context.resource %></td>
				<td><%= l(resource_context.resource.updated_at) if resource_context.resource %></td>
			</tr>
		<% end %>
		<tbody>
	</table>


	<div class="buttons pagination">
		<%= render_button_link t('.view_all_button'), institutions_path(anchor: 'tab_tab2', scope: 'all') %>
		<%= paginate @resource_contexts %>
	</div>
<% else %>
 <%= content_tag :h2, t('.no_resources_info', institution: @current_institution.full_name) %>
<% end %>
<div class="buttons">
	<%= render_button_link t('.new_button'), new_resource_path(origin_url: request.original_url, tab_number: 'tab_tab2'), class: 'btn-green' %>
</div>