<div class="search-area">
	<%= form_tag('', {method: :get}) do %>
		<div class="control-group">
			<%= render partial: 'shared/search',
								 locals: {placeholder: t('.search_placeholder')} %>
		</div>
	<% end %>
</div>

<div class="table-scope">
	<%= link_to t('.all_filter_link', count: @all),
							institutions_path(anchor: 'tab_tab4', scope: "all"), class: "all_limited" %>
	|
	<%= link_to t('.resource_editors_filter_link', count: @resources_editor),
							institutions_path(anchor: 'tab_tab4', scope:  "resources_editor"), class: "resources_editor"  %>
	|
	<%= link_to t('.template_editors_filter_link', count: @template_editor),
							institutions_path(anchor: 'tab_tab4', scope: "template_editor"),
							class: "template_editor" %>
	|
	<%= link_to t('.inst_admins_filter_link', count: @institutional_administrator),
							institutions_path(anchor: 'tab_tab4', scope: "institutional_administrator"), class: "institutional_administrator" %>
	|
	<%= link_to t('.inst_reviewers_filter_link', count: @institutional_reviewer),
							institutions_path(anchor: 'tab_tab4', scope: "institutional_reviewer"), class: "institutional_reviewer" %>
	|
	<%= link_to t('.admins_filter_link', count: @dmp_administrator),
							institutions_path(anchor: 'tab_tab4', scope: "dmp_administrator"), class: "dmp_administrator" %>
</div>
<table class ="table table-striped">
		<thead>
		  <tr>
		    <%= content_tag :th, User.human_attribute_name(:full_name_last_first) %>
		    <%= content_tag :th, User.human_attribute_name(:institution) %>
		    <th><%= User.human_attribute_name(:role_names) %>
				<%= content_tag(:span, '', title: t('.role_tooltip'), data: { toggle: 'tooltip', placement: 'right', html: 'true' }, class: 'icon questionmark tip') %>
		    </th>
		    <%= content_tag :th, t('.edit_user_role'), width: 'span1' %>
		  </tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
		  	<tr class='user_row' id=<%="user_#{user.id}"%>>
		  		<% if user_role_in?(:dmp_admin) %>
		  			<td><%= link_to user.full_name_last_first, edit_user_path(user) %></td>
		  		<%else%>
		  			<td><%= user.full_name_last_first%></td>
		  		<%end%>
		    	<!-- <td><%#= link_to user.institution.full_name, edit_institution_path(user.institution, acr: "tab4") %></td> -->
		    	<td><%= user.institution.full_name %></td>
					<td><%= user.role_names.map {|role| t_attr(Role, :name, role)}.join(' | ') %></td>
		     	<td class="span1"><%= link_to '', edit_user_roles_inst_admin_path(user_id: user), title: t('.edit_user_role_tooltip'), class: 'icon edit-user', id: "edit_#{user.id}" %></td>
		      </tr>
		  <% end %>
		</tbody>
</table>
