<div class="table-scope">
	<%= link_to t('.all_filter_link', count: @all),
							institutions_path(anchor: 'tab_tab4', scope: "all"), class: "all_limited" %>
	|
	<%= link_to t('.resource_editors_filter_link', count: @resources_editor),
							institutions_path(anchor: 'tab_tab4', scope:  "resources_editor"), class: "resources_editor"  %>
	|
	<%= link_to t('.template_editors_filter_link', count: @template_editor),
							institutions_path(anchor: 'tab_tab4', scope: "template_editor"),
							class: "template_editor" %>
	|
	<%= link_to t('.inst_admins_filter_link', count: @institutional_administrator),
							institutions_path(anchor: 'tab_tab4', scope: "institutional_administrator"), class: "institutional_administrator" %>
	|
	<%= link_to t('.inst_reviewers_filter_link', count: @institutional_reviewer),
							institutions_path(anchor: 'tab_tab4', scope: "institutional_reviewer"), class: "institutional_reviewer" %>
	|
	<%= link_to t('.admins_filter_link', count: @dmp_administrator),
							institutions_path(anchor: 'tab_tab4', scope: "dmp_administrator"), class: "dmp_administrator" %>
</div>
<table class ="table table-striped">
		<thead>
		  <tr>
		    <%= content_tag :th, User.human_attribute_name(:full_name_last_first) %>
		    <%= content_tag :th, User.human_attribute_name(:institution) %>
		    <th><%= User.human_attribute_name(:role_names) %>
				<%= content_tag(:span, '', title: t('.role_tooltip'), data: { toggle: 'tooltip', placement: 'right', html: 'true' }, class: 'icon questionmark tip') %>
		    </th>
		    <%= content_tag :th, t('.edit_user_role'), width: 'span1' %>
		  </tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
		  	<tr class='user_row' id=<%="user_#{user.id}"%>>
		  		<% if user_role_in?(:dmp_admin) %>
		  			<td><%= link_to user.full_name_last_first, edit_user_path(user) %></td>
		  		<%else%>
		  			<td><%= user.full_name_last_first%></td>
		  		<%end%>
		    	<!-- <td><%#= link_to user.institution.full_name, edit_institution_path(user.institution, acr: "tab4") %></td> -->
		    	<td><%= user.institution.full_name %></td>
					<td><%= user.role_names.map {|role| t_attr(Role, :name, role)}.join(' | ') %></td>
		     	<td class="span1"><%= link_to '', edit_user_roles_inst_admin_path(user_id: user), title: t('.edit_user_role_tooltip'), class: 'icon edit-user', id: "edit_#{user.id}" %></td>
		      </tr>
		  <% end %>
		</tbody>
</table>
<script>
	// based on example at http://jqueryui.com/autocomplete/#remote-jsonp
	$(function() {
	  $( "#template_editor_name" ).autocomplete({
	    source: function( request, response ) {
	      $.ajax({
	        url: "<%= users_autocomplete_path(role_number: Role::TEMPLATE_EDITOR) %>",
	        dataType: "json",
	        data: {
	          name_term: request.term
	        },
	        success: function( data ) {
	          response( $.map( data, function( item ) {
	            return {
	              label: item.label,
	              value: item.full_name,
	              id: item.id
	            }
	          }
	          ));
	        }
	      });
	    },
	    minLength: 1,
	    select: function( event, ui ) {
	    	$('#template_editor_id').val(ui.item.id); // set hidden field id
	    },
	    open: function() {
	      $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
	    },
	    close: function() {
	    	return false;
	      $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
	    }
	  });
	});
</script>
<%= form_tag add_authorization_manage_users_path(anchor: 'tab_tab4'), method: 'post',
						 id: 'template_editor_autocomplete_form' do %>
<table class ="table">
	<tr class="user_row">
		<td class="nowrap">
			<div class="control-group">
				<%= label_tag 'template_editor_name', t('.autocomplete_label'), class: 'control-label' %>
				<%= text_field_tag 'template_editor_name', '', placeholder: t('.autocomplete_placeholder') %>
				<%= hidden_field_tag "template_editor_id", '' %>
				<%= hidden_field_tag "role_number", Role::TEMPLATE_EDITOR %>
				<%= hidden_field_tag "item_description", 'template editor' %>
				<%= submit_tag t('.grant_role_button'), class: 'btn' %>
			</div>
		</td>
		<td>
			<div class="control-group row-fluid">
						<% @roles.each do |role| %>
						  <div class="controls span6">
						  	<%= check_box_tag "role_ids[]", role.id , checked = false, id: role.id%>
						    <%= label_tag role.id, t_attr(role, :name), class: 'checkbox-label' %>
						  </div>
						<% end %>
				</div>
		</td>
	 </tr>
</table>
<% end %>
