<% @display_menu = "institution" %>
<div class="tabble">
	<ul class="nav nav-tabs">
		<li class="active"><%= link_to t('.info'), '#tab1', data: { toggle: 'tab' } %></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab1">


		<% provide(:title, t('.info')) %>

<%= form_for @current_institution, html: { class: 'form-horizontal', multipart: true} do |f| %>
  <%= render partial: 'shared/errors', locals: { model: @current_institution } %>
  <div class="control-group">
    <%= f.label :full_name , t('.full_name'), class: 'control-label required' %>
    <div class="controls">
	    <%#= f.text_field :full_name, class: 'input-xxlarge', 'aria-required' => 'true' %>
      <%= f.text_field :full_name, class: 'input-xxlarge' %>
	  </div>
  </div>

  <div class="control-group">
    <%= f.label :shib_entity_id, t('.entity_id'), class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :shib_entity_id, readonly: @current_institution.is_shibboleth? %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :shib_domain , t('.shib_domain'), class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :shib_domain, readonly: @current_institution.is_shibboleth? %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :parent_id , t('.parent'), class: 'control-label' %>
    <div class="controls">

		<% if user_role_in?(:dmp_admin) %>

			<%= f.select :parent_id,
                   @institution_pool,
                   { selected:  @current_institution.parent_id, include_blank: 'none'},
                   { disabled: true}
      %>

		<% else %>

			<%= f.select :parent_id,
                   @institution_pool,
                   { selected:  @current_institution.parent_id, include_blank: 'none'},
                   { disabled: true }
          	#{:disabled => (!@current_institution.is_shibboleth? || !user_role_in?(:institutional_admin))}

      %>

    <% end %>

    </div>
  </div>

  <div class="control-group">
    <%= f.label :nickname, t('.nickname'), class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :nickname %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :url_text, t('.url_text'), class: 'control-label hide' %>
    <%= f.label :url, t('.url'), class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :url_text, placeholder: t('.url_text_placeholder') %>
      <%= f.text_field :url, placeholder: t('.url_placeholder') %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :contact_info, t('.contact_info'), class: 'control-label' %>
    <%= f.label :contact_email, t('.contact_email'), class: 'control-label hide' %>
    <div class="controls">
      <%= f.text_field :contact_info, placeholder: t('.contact_info_placeholder') %>
      <%= f.text_field :contact_email, placeholder: t('.contact_email_placeholder') %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :logo, t('.logo'),
                class: 'control-label tip',
                data: { toggle: 'tooltip', placement: 'left'},
                title: t('.logo_tooltip') %>

    <div class="controls">
      <%= image_tag @current_institution.logo.url if @current_institution.logo? %>
      <%= f.file_field :logo %>
      <%= f.hidden_field :logo_cache %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit t('.upload_button'), class: 'btn' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :desc , t('.desc'), class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :desc, rows: 5, class: 'input-xxlarge' %>
    </div>
  </div>
  <div class="buttons">
    <%= f.submit t('.save_button'), class: 'btn btn-green' %>
    <%= button_tag t('.cancel_button'), type: :reset, class: 'btn' %>
  </div>
<% end %>


		</div>
	</div>
	<br/>



  <% if !(@acr.nil?) %>
 <%= link_to t('.back_button'), institutions_path(anchor: @acr), class: 'btn', role: 'button' %>
  <%elsif !@admin_acr.nil?  %>
    <%= link_to t('.back_button'), users_path(anchor: @admin_acr), class: 'btn', role: 'button' %>
  <% else %>
    <%= link_to t('.back_button'), :back, class: 'btn', role: 'button' %>
  <% end %>


