<% @display_menu = "institution" %>
<h1 class="row-fluid"><span class="icon administrator"></span><%= t('.edit_user_roles') %></h1>
<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><%= link_to t('.user_roles_link'), '#tab1', data: { toggle: 'tab' } %></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab1">
			<%= form_tag(update_user_roles_inst_admin_path(user_id: @user.id, anchor: 'tab_tab4'), method: 'post') do %>
				<p><strong><%= t('.current_roles', user: @user.first_name) %></strong></p>
				<hr/>
				<div class="control-group">
					<ul>
						<% @roles.each do |role| %>
							<div id=<%="role_#{role.id}"%> >
						  	<li><%= check_box_tag "role_ids[]", role.id, checked = @user.has_role?(role.id), id: role.id %>
						    <%= label_tag role.id, role.name, class: 'checkbox-label' %></li>
							</div>
						<% end %>
					</ul>
				</div>
				<br/>

				<div class="buttons" >
					<% if @user == current_user %>
							<%= render_save_changes_button id: 'current_admin_with_alert' %>
					<% else %>
							<%= render_save_changes_button anchor: 'tab_tab4', id: 'other_user' %>
					<% end %>

					<%= render_back_button institutions_path(anchor: 'tab_tab4'), green: false %>
				</div>


			<%end%>
		</div>
	</div>
</div>
