<% @title_text = t('.profile') %>
<% @display_menu = "institution" %>
<%= i18n_include_tag %>
<h1 class="row-fluid"><span class="icon institution-profile"></span><%= t('.profile') %></h1>
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><%= link_to t('.info'), '#tab1', data: { toggle: 'tab' } %></li>
    <li><%= link_to t('.resources'), '#tab2', data: { toggle: 'tab' } %></li>
    <li>
      <%= link_to t('.assign_roles'), '#tab4', data: { toggle: 'tab' } %></li>
		<% unless @institution_statistics.nil? %>
			<li><%= link_to t('.usage'), '#tab5', data: { toggle: 'tab' } %></li>
		<% end %>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= render 'form' %>
    </div>

     <div class="tab-pane" id="tab2">
        <%= render 'institutional_resources' %>
    </div>

    <div class="tab-pane" id="tab4">
        <%= render 'manage_users' %>
    </div>

		<% unless @institution_statistics.nil? %>
			<div class="tab-pane" id="tab5">
				<%= render 'usage' %>
			</div>
		<% end %>
  </div>
</div>

<script type="text/javascript">
  tab_jump();
  add_tab_to_pagination();
</script>







