<h1 class="row-fluid"><span class="icon institution-profile"></span>Partner Institutions</h1>
<br/>
<div class="row-fluid">
  <%= content_tag :p, t('.intro_html', link: link_to(t('.partners_link'), partners_path, title: t('.partners_tooltip'))) %>
  <%= content_tag :p, t('.instructions') %>
</div>
<br/>
<div class="row-fluid">
	<div class="span8">
		<%= render_filter_button s: 'a', e: 'f' %>
		<%= render_filter_button s: 'g', e: 'l' %>
		<%= render_filter_button s: 'm', e: 's' %>
		<%= render_filter_button s: 't', e: 'z' %>
		<%= render_filter_button s: 'a', e: 'z' %>
	</div>
	<div class="search-area span4 pull-right">
			<%= form_tag('', {:method => :get}) do %>
				<div class="control-group pull-right">
					<%= render partial: 'shared/search' %>
				</div>
			<% end %>
	</div>
</div>
<table class="table table-striped">
	<thead>
	  <tr>
			<%= content_tag :th, t('.name'), class: 'span10' %>
			<%= content_tag :th, t('.shib_enabled'), class: 'span1' %>
			<%= content_tag :th, t('.custom_dmp'), class: 'span1' %>
	  </tr>
	</thead>
	<tbody>
  <% @institutions.each do |institution| %>
    <tr>
      <!-- <td><%#= link_to institution.full_name, edit_institution_path(institution) %></td> -->
      <td><%= institution.full_name%></td>
      <td class="span1"><% if institution.is_shibboleth? then %>
        <span class="icon confirm"></span>
      <% else %>

      <% end %></td>
      <td class="span1"><% if institution.is_customized? then %>
        <span class="icon confirm"></span>
      <% else %>

      <% end %></td>
    </tr>
  <% end %>
	</tbody>
</table>


<% if @all_scope == "all" %>
	<div class="buttons pagination">
    <%= render_button_link t: '.view_less', href: {all_scope: '', q: @q, s: @s, e: @e} %>
		<%= paginate @institutions %>
	</div>
<% else %>
	<div class="buttons pagination">
		<%= render_button_link t: '.view_all', href: {all_scope: 'all', q: @q, s: @s, e: @e} %>
		<%= paginate @institutions %>
	</div>
<%end%>



