<% @display_menu = "institution" %>
<%= link_to t('.back_link'), institutions_path %>
<br>
<br>
<p><b><%= t('.full_name') %></b></p>

<p><%= @institution.full_name %></p>

<p><b><%= t('.nickname') %></b></p>
<p><%= @institution.nickname %></p>

<p><b><%= t('.desc') %></b></p>
<p><%= @institution.desc %></p>

<p><b><%= t('.contact_info') %></b></p>
<p><%= @institution.contact_info %></p>

<p><b><%= t('.contact_email') %></b></p>
<p><%= @institution.contact_email %></p>

<p><b><%= t('.url') %></b></p>
<p><%= @institution.url %></p>

<p><b><%= t('.url_text') %></b></p>
<p><%= @institution.url_text %></p>

<p><b><%= t('.shib_entity_id') %></b></p>
<p><%= @institution.shib_entity_id %></p>

<p><b><%= t('.shib_domain') %></b></p>
<p><%= @institution.shib_domain %></p>

<p><b><%= t('.logo') %></b></p>
<p><%= image_tag @institution.logo.url if @institution.logo? %></p>

<%= link_to t('.back_link'), institutions_path %>



