<% @title_text = t('.title') %>
<% @display_menu = "dashboard" %>
<div class="row-fluid">
	<div class="overview span8">
		<br/>
		<h1 class="row-fluid"><span class="icon overview"></span><%= t('.overview') %></h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<%= content_tag :th, t('.my_plans') %>
					<%= content_tag :th, t('.my_plans_under_review_html') %>
				</tr>
			</thead>
			<tbody>
				<% unless current_user.nil? %>
	        <%
	          #this layout is a PITA and really should NOT be a table, but since
	          #the UI developer isn't going to change it, I'll do some gymnastics
	          #to make things pretty within a table
	           col1 = []
	           col1[0] = link_to t('.plans_i_own', count: current_user.owned_plans.count), plans_path(scope: 'owned')
	           col1[1] = link_to t('.plans_i_coown', count: current_user.coowned_plans.count), plans_path(scope: 'coowned')
	           col2 = (current_user.unique_plan_states & PlanState::REVIEW_STATES).map do |state|
	             link_to t(".#{state}_plans", count: current_user.plans_by_state(state).size), plans_path(scope: state)
	           end
	           if col2.length < 1
	             col2[0] = t('.no_plan_under_review')
	           end
	           max_item = [col1.length, col2.length].max - 1
	        %>
	        <% 0.upto(max_item) do |i| %>
					<tr>
						<td><%= (col1[i].nil? ? '' : col1[i] ) %></td>
						<td><%= (col2[i].nil? ? '' : col2[i] ) %></td>
					</tr>
	        <% end %>
        <% end %>
			</tbody>
		</table>
		<div class="buttons">

			<!--The following id is used for testing purposes, please do not remove-->
			<%= render_button_link t('.new_plan_button'), plan_template_information_path, id: 'create_new_DMP', green: true, onclick: 'return false;' %>

		</div>

		<% if user_role_in?(:institutional_reviewer, :dmp_admin) %>
			<% if defined? @pending_review %>
			<br/>
			<h1 class="row-fluid"><span class="icon review"></span><%= t('.plans_for_review') %></h1>
			<table class="table table-striped">
				<tbody>
					<tr>
						<td><%= link_to t('.review_submitted_plans', count: @pending_review), review_dmps_path(scope: 'submitted') %></td>
					</tr>
					<tr>
						<td><%= link_to t('.review_approved_plans', count: @approved_plans), review_dmps_path(scope: 'approved') %></td>
					</tr>
					<tr>
						<td><%= link_to t('.review_rejected_plans', count: @rejected_plans), review_dmps_path(scope: 'rejected') %></td>
					</tr>
				</tbody>
			</table>
			<% end %>
		<% end %>

	<% if defined? @requirements_templates %>
	<br/>
	<h1 class="row-fluid"><span class="icon dmp-template"></span><%= t('.templates') %></h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<%= content_tag :th, t('.within_my_institution') %>
				<th>
					<%= t('.funder_requirements') %>
					<%= content_tag :span, '', title: t('.funder_requirements_tooltip'), data: {toggle: 'tooltip', placement: 'top', html: 'true'}, class: 'icon questionmark tip' %>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
          <%= link_to t('.institutional_templates', count: @requirements_templates), requirements_templates_path(scope: 'institutional'), id: 'institutional_templates' %>
        </td>
				<!--The following id is used for testing purposes, please do not remove-->
				<td>
					<%= link_to t('.public_templates_from_us', count: @public_requirements_templates), requirements_templates_path(scope: 'your_inst_public'), id: 'public_templates' %>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="buttons">

		<!--The following id is used for testing purposes, please do not remove-->
		<%= render_button_link t('.new_template_button'), new_requirements_template_path, green: true, id: 'create_new_DMP_template' %>

	</div>
	<% end %>
	<% if defined? @resource_templates %>
	<br/>
	<h1 class="row-fluid"><span class="icon resource-template"></span><%= t('.template_customizations') %></h1>
	<table class="table table-striped">
		<tbody>
			<tr>
				<!--The following id is used for testing purposes, please do not remove-->
				<td>
          <%= link_to t('.customizations', count: @resource_templates), resource_templates_path, id: 'resources_templates', onclick: 'return false;' %>
        </td>
			</tr>
		</tbody>
	</table>
	<div class="buttons">

		<!--The following id is used for testing purposes, please do not remove-->
		<%= render_button_link t('.new_template_customization_button'), new_resource_template_path, id: 'create_new_resource_template', onclick: 'return false;' %>

	</div>
	<% end %>

	</div>
</div>