<% @title_text = "Community Ressourcen" %>
<% @display_menu = 'help' %>
<div class="static-page">
	<h1 class"title">Community Ressourcen</h1>
	<hr/>
	
	<h2>Inhalt</h2>
	<ul>
		<li><a title="Überblick" href="#overview">Überblick</a></li>
		<li><a title="Frequently Asked Questions (FAQ)" href="#faq">Frequently Asked Questions (FAQ)</a></li>
		<li><a title="Werbematerial" href="#promotion">Werbematerial</a></li>
		<li><a title="Einführungen ins Datenmangement" href="#primers">Einführung ins Datenmanagement</a></li>
		<li><a title="Schulungsmaterial" href="#training">Schulungsmaterial</a></li>
		<li><a title="LibGuides" href="#libguides">LibGuides / Informationsseiten</li>
		<li><a title="Hilfe bei der Auswahl eines Repositoriums" href="#repository">Hilfe bei der Auswahl eines Repositoriums</a></li>
		<li><a title="DMPTool-Webinare" href="#webinars">DMPTool-Webinare</a></li>
		<li><a title="Leitfaden zum Datenmangement" href="#guidance">Leitfaden zum Datenmangement</a></li>
		<li><a title="Präsentationen und Presse" href="#press">Präsentationen und Presse</a></li>
	</ul>
	
	<h2 id="overview">Überblick</h2>
	<p>Die Sammlung an gemeinschaftlichen DMPTool-Ressourcen dient als zentrale Anlaufstelle für Informationen über das Tool, für Werbematerialien und grundlegende Informationen zur Best Practice im Datenmanagement. Wir gehen davon aus, dass diese Sammlung künftig von der Community gepflegt wird, indem DMPTool-Administratoren zu den hier gelisteten Materialien weitere Beiträge einstellen können.</p>
	
	<h2 id="faq">Frequently Asked Questions (FAQ)</h2>
	<p>Besuchen Sie unsere FAQ-Seite unter <a title="Frequently Asked Questions" href="http://dmptool.askbot.com" target="_blank">dmptool.askbot.com</a>, um Antworten zu den meistgestellten Fragen zu erhalten, oder um selbst Fragen an die Community zu richten.</p>
	
	<h2 id="promotion">Werbematerial</h2>
	<p>Besuchen Sie die "<%= link_to_promote %>"-Seite. Dort werden Postkarten, Folien und andere Materialien angeboten, mit denen institutionelle Administratoren das DMPTool innerhalb der Einrichtung bekannter machen können und die nützlich sind, um mit den anderen Interessensgruppen der Einrichtung zum Thema Datenmanagement ins Gespräch zu kommen.</p> 
	
	<h2 id="primers">Einführung ins Datenmanagement</h2>
	<ul>
		<li><a title="ICPSR Guide to Social Science Data Preperation and Archiving" href="http://www.icpsr.umich.edu/icpsrweb/content/deposit/guide/index.html" target="_blank">ICPSR Guide to Social Science Data Preparation and Archiving</a>: ICPSR ist eines der führenden sozialwissenschaftlichen Repositorien. Ihr Handbuch über die Aufbereitung von Daten für die Archivierung ist sehr umfassend und gewährleistet eine hohe Qualität der Daten.</li>
		<li><a title="UK data archive" href="http://www.data-archive.ac.uk/create-manage" target="_blank">UK data archive</a>: Das "UK Data Archive" besitzt eine ausgezeichnete Wissensdatenbank über die Erstellung und das Management von Daten. Diese Leitfäden stellen bei Fragen zum Datenprojektmanagement einen idealen Anlaufpunkt dar.</li>
		<li><a title="DataONE primer on data management" href="http://escholarship.org/uc/item/7tf5q7n3#page-1" target="_blank">DataONE primer on data management</a>: Dieses speziell an Forschende gerichtete PDF deckt die Grundlagen des Datenmanagements ab und folgt dabei dem Lebenszyklus von Daten.</li> 
		<li> <a title="Data Management for Libraries: A LITA Guide" href="http://www.alastore.ala.org/detail.aspx?ID=10737" target="_blank">Data Management for Libraries: A LITA Guide</a>: Ein kurzer Leitfaden zu Datenmanagementthemen als Hilfe für Bibliotheken, damit diese das Thema Datenmanagement verstehen und ihren Service gegenüber Forschenden verbessern können.</li>
	</ul>
	
	<h2 id="training">Schulungsmaterial</h2>
	<ul>
		<li><a title="Digital Curation Training for All" href="http://www.dcc.ac.uk/training" target="_blank">Digital Curation Training for All</a>: Eine Sammlung des Digital Curation Centres an Folien, Ressourcen und Materialien, welche die Grundlagen des Datenmanagements abdeckt.</li>
		<li><a title="MANTRA Course" href="http://datalib.edina.ac.uk/mantra/" target="_blank">MANTRA Course</a>: "MANTRA" konzentriert sich auf die Bereitstellung von Schulungsmaterialien für Forscher zu wichtigen Fragen über Daten. Diese Lektionen sind eine gute Grundlage für Bibliothekare, die Datenmanagement-Workshops anbieten möchten.</li>
		<li><a title="DataONE data management education slide decks" href="http://www.dataone.org/education-modules" target="_blank">DataONE data management education slide decks</a></li>
		<li><a title="Uk Data Archive traning resources on managing and sharing data" href="http://data-archive.ac.uk/create-manage/training-resources" target="_blank">UK Data Archive training resources on managing and sharing data</a></li>
	</ul>
	
	<h2 id="libguides">LibGuides / Informationsseiten</h2>
	<p>Viele wissenschaftliche Bibliotheken verwenden <a title="LibGuides" href="http://springshare.com/libguides/" target="_blank">LibGuides / Informationsseiten</a> , um dort Referenzmaterialien abzulegen. Im Folgenden sind einige dieser Informationswebseiten aufgelistet, die eine gute Quelle zum Thema Datenmanagement sind:</p>
	<ul>
		<li><a title="California Polytechnic State University" href="http://libguides.calpoly.edu/content.php?pid=117228&sid=1011108" target="_blank">California Polytechnic State University</a></li>
		<li><a title="University of California, Irvine" href="http://libguides.lib.uci.edu/datamanagement" target="_blank">University of California, Irvine</a></li>
		<li><a title="University of California, Los Angeles" href="http://guides.library.ucla.edu/data-management" target="_blank">University of California, Los Angeles</a></li>
		<li><a title="Georgia Institute of Technology" href="http://libguides.gatech.edu/research-data" target="_blank">Georgia Institute of Technology</a></li>
		<li><a title="Massachusetts Institute of Technology" href="http://libraries.mit.edu/guides/subjects/data-management/index.html" target="_blank">Massachusetts Institute of Technology</a></li>
		<li><a title="Michigan State University" href="http://www.lib.msu.edu/about/diginfo/ldmp.jsp" target="_blank">Michigan State University</a></li>
		<li><a title="Boston College" href="http://libguides.bc.edu/dataplan" target="_blank">Boston College</a></li>
		<li><a title="Curtin University, Australia" href="http://libguides.library.curtin.edu.au/research-data-management"target="_blank">Curtin University, Australia</a></li>
	</ul>
	
	<h2 id="repository">Hilfe bei der Auswahl eines Repositoriums</h2>
	<p>Das richtige Datenrepositorium auszuwählen trägt viel dazu bei, die Auffindbarkeit der Daten zu gewährleisten. Die folgenden drei Seiten bieten eine Verzeichnis von Repositorien, das nach Datentyp, Schlagwörtern oder anderen Merkmalen durchsucht werden kann.</p>
	<ul>
		<li><a title="Databib" href="http://databib.org/" target="_blank">Databib</a></li>
		<li><a title="re3data" href="http://re3data.org" target="_blank">re3data</a></li>
		<li><a title="BioSharing" href="http://biosharing.org" target="_blank">BioSharing</a></li>
	</ul>
	
	<h2 id="webinars">DMPTool-Webinare</h2>
	
	<h3>IMLS Webinar-Reihe</h3>
	<p>Im Rahmen der Finanzierung durch das "Institute of Museum and Library Services" boten wir unter anderem eine Webinar-Reihe über Themen des Datenmanagements an. Aufzeichnungen und Folien sind unter dem <a title="DMPTool Blog" href="https://blog.dmptool.org/webinar-series" target="_blank">DMPTool Blog</a> verfügbar. Folgende Themen werden abgedeckt:</p>
	<ol>
		<li>Introduction to the DMPTool. May 28, 2013.</li>
		<li>Learning about data management: Resources, tools, materials you can use. June 4, 2013. </li>
		<li>Customizing the DMPTool for your institution. June 18, 2013.</li>
		<li>Environmental Scan: Who's important at your campus. June 25, 2013. </li>
		<li>Promoting institutional services with the DMPTool; EZID as example. July 9, 2013. </li>
		<li>Health Sciences and the DMPTool. July 16, 2013.</li>
		<li>Digital humanities and the DMPTool. July 30, 2013. </li>
		<li>Data curation profiles and the DMPTool. August 13, 2013. </li>
		<li>Talking points for meeting with institutional stakeholders. August 27, 2013. </li>
		<li>Beyond funder requirements: more extensive DMPs. October 1, 2013. </li>
		<li>Tools and resources that complement the DMPTool. October 15, 2013. </li>
	</ol>
	
	<h3>Andere DMPTool-Webinare</h3>
	<ul>
		<li>Data Management Plans: Tips, Tricks and Tools. January 11, 2012. <a title="Aufzeichnung" href="http://www.cdlib.org/services/uc3/webinars/20120111/index.html" target="_blank">Aufzeichnung</a> und <a title="Folien" href="http://www.slideshare.net/UC3/data-management-plans-tips-tricks-and-tools" target="_blank">Folien</a></li>
		<li>DMPTool for Data Management Plans. October 19, 2011. <a title="Aufzeichnung" href="http://www.cdlib.org/services/uc3/webinars/20111019/index.html" target="_blank">Aufzeichnung</a> und <a title="Folien" href="http://www.slideshare.net/UC3/dmptool-webinar-20111019" target="_blank">Folien</a></li>
		<li>Data Management Planning Tool. July 14, 2011. <a title="Aufzeichnung" href="http://www.cdlib.org/services/uc3/webinars/20110714/index.html" target="_blank">Aufzeichnung</a> und <a title="Folien" href="http://www.cdlib.org/services/uc3/docs/UC3-webinar-DMP20110714.pptx" target="_blank">Folien</a></li>
	</ul>
	
	<h2 id="guidance">Leitfaden zum Datenmanagement</h2>
	<p>Grundlegende Informationen über das Datenmanagement finden Sie unter <%= link_to_dm_guidance%>. Folgende Themen werden abgedeckt:</p>
	<ul>
		<li><%= link_to "Datentypen", dm_guidance_path(:anchor => "types") %></li>
		<li><%= link_to "Dateiformate", dm_guidance_path(:anchor => "formats") %></li>
		<li><%= link_to "Dateien organisieren", dm_guidance_path(:anchor => "organize") %></li>
		<li><%= link_to "Metadaten: Dokumentation der Daten", dm_guidance_path(:anchor => "metadata") %></li>
		<li><%= link_to "Persistente Identifikatoren", dm_guidance_path(:anchor => "identifiers") %></li>
		<li><%= link_to "Sicherheit und Aufbewahrung", dm_guidance_path(:anchor => "security") %></li>
		<li><%= link_to "Freigabe/Teilen und Archivieren", dm_guidance_path(:anchor =>"share") %></li>
		<li><%= link_to "Daten zitieren", dm_guidance_path(:anchor => "cite") %></li>
		<li><%= link_to "Urheberrecht und Datenschutz", dm_guidance_path(:anchor => "copyright") %></li>
	</ul>
	
	<h2 id="press">Präsentationen und Presse zum DMPTool</h2>
	<p>Besuchen Sie die "<a title="Präsentationen und Presse" href="http://blog.dmptool.org/presentations-and-press/" target="_blank">Präsentationen und Presse</a>"-Seite des DMPTool-Blogs um eine vollständige Liste zu erhalten.</p>
</div>
