<% @title_text = t('.browser_title') %>
<% @display_menu = "dmp_requirements" %>
<h1 class="row-fluid"><span class="icon funder-guidance"></span><%= t('.title') %></h1>
<br/>
<div class="row-fluid">
	<div class="span8">
		<%= content_tag :p, t('.instructions') %>
	</div>
	<div class="search-area span4 pull-right">
			<%= form_tag('', {:method => :get}) do %>
				<div class="control-group pull-right">
					<%= render partial: 'shared/search' %>
				</div>
			<% end %>
	</div>
</div>
<br/>
<div class="row-fluid">
	<%= render_filter_button({order_scope1: @order_scope1, scope1: @scope1}, s: 'a', e: 'f') %>
	<%= render_filter_button({order_scope1: @order_scope1, scope1: @scope1}, s: 'g', e: 'l') %>
	<%= render_filter_button({order_scope1: @order_scope1, scope1: @scope1}, s: 'm', e: 's') %>
	<%= render_filter_button({order_scope1: @order_scope1, scope1: @scope1}, s: 't', e: 'z') %>
	<%= render_filter_button({order_scope1: @order_scope1, scope1: @scope1}, s: 'a', e: 'z') %>
</div>
<br/>

<%= render partial: 'guidance_table', :locals => {templates: @public_templates, public: true} %>

<% if @institution_templates && @institution_templates.length > 0 %>
<h1 class="row-fluid">
	<span class="icon institution-guidance"></span><%= t('.requirements_for', institution: current_user.institution.full_name) %>
</h1>

	<div class="table-scope">
		<%= content_tag :p, t('.requirements_scope_info') %>
	</div>
	<%= render partial: 'guidance_table_institutional', :locals => {templates: @institution_templates, public: false} %>
<% end %>

