<% @title_text = t('.title') %>
<% @display_menu = "home" %>
<div class="banner row-fluid">
	<h1><%= t('.dmp_headline') %></h1>
	<p><%= t('.dmp_subtitle_html') %></p>
	<%= link_to t('.dmp_get_started_link'), (current_user ? dashboard_path: choose_institution_path), :class => "btn btn-large" %>
</div>

<div class="banner_caption">
  <p><%= t('.after_banner_title') %></p>
</div>

<div class="buckets-header row-fluid">
  <div class="span4">
  	<h2><span class="icon public"></span><%= t('.left_bucket_title') %></h2>
  </div>
  <div class="span4">
  	<h2><span class="icon news"></span><%= t('.right_bucket_title') %></h2>
  </div>
</div>
<div class="buckets row-fluid">
  <div class="dmp_tool_news span4">
    <%= render "dmptool_for" %>
  </div>
  <div class="how_to_use span4">
    <%= render "dmptool_info" %>
  </div>
</div>
