<% @title_text = t('.title') %>
<% @display_menu = "dmp_templates:details" %>

<%= i18n_include_tag %>

<h1 class="row-fluid" id="jump"><span class="icon template-details"></span><%= @title_text %></h1>
<h2><%= @requirements_template.name %></h2>
<div class="row-fluid">
	<div class="details span4">
	  <div class="tree-view border-box" id="main_requirements_border">
      <div id="cover_dialog">
        <div>
          <%= image_tag 'throbber.gif' %>
          <%= t('.please_wait') %>
        </div>
      </div>
      <p><%= content_tag :strong, t('.template_outline') %></p>
	  	<div class="actions">
        <%= link_to new_requirements_template_requirement_path(@requirements_template, node_type: 'group', anchor: 'jump') do %>
          <%= content_tag :span, '', :class => 'icon add-group' %>
          <%= t('.add_group_link') %>
          <%= content_tag :span, '', title: t('.add_group_tooltip'),
                          data: {toggle: 'tooltip', placement: 'top', html: 'true'},
                          class: 'icon questionmark tip' %>
        <% end %>
        &nbsp;
        <%= link_to new_requirements_template_requirement_path(@requirements_template, anchor: 'jump') do %>
          <%= content_tag :span, '', class: 'icon add-requirement'  %>
          <%= t('.add_requirement_link') %>
          <%= content_tag :span, '', title: t('.add_requirement_tooltip'),
                          data: {toggle: 'tooltip', placement: 'top', html: 'true'},
                          class: 'icon questionmark tip' %>
        <% end %>
		  </div>
			<div id="drop_before_first">
	    	<hr/>
	    </div>
	    <div class="requirements-tree-view" id="main_requirements_tree">
	      <%= nested_requirements @requirements.arrange(order: :position) %>
	    </div>
	  </div>
	  <div class="template-status border-box">
      <p>
        <%= content_tag :strong, t('.template_status') %>
        <%= content_tag :span, id: "status_#{@requirements_template.id}" do %>
          <%= t_enum(@requirements_template, :active) %>
        <% end %>
        <%= content_tag :span, '', title: t('.template_status_tooltip'),
                        data: {toggle: 'tooltip', placement: 'right', html: 'true'},
                        class: 'icon questionmark tip' %>
      </p>
	  	<div>
		    <%= link_to t('requirements_templates.index.toggle_status_link', template: @requirements_template),
		      toggle_active_requirements_template_path(@requirements_template), remote: true, id: "activate_link_#{@requirements_template.id}", :class => 'btn' %>
	    </div>
      <div>
        <br/>
        <% if @requirements_template.plans.count < 1 %>
          <%= render_delete_button href: requirements_template_path(@requirements_template, after_url: requirements_templates_path) %>
        <% else %>
          <%= render_delete_button href: '', disabled: true, style: 'pointer-events: none;' %>
          <br/><br/>
          <%= content_tag :p, t('.cant_delete_template') %>
        <% end %>
      </div>
	  </div>
	</div>
	<div class="tabbable span8">
		<ul class="nav nav-tabs">
      <li class="active">
        <%= link_to t_enum(:requirement, :group, params[:node_type] == 'group'),
                    {anchor: 'tab1'}, data: {toggle: 'tab'} %>
      </li>
		</ul>
	 	<div class="tab-content">
	  	<div class="tab-pane active" id="tab1">
	  		<%= render 'form' %>
	  	</div>
		</div>
	</div>
</div>
<% if referer_hash[:controller] == 'requirements_templates' && referer_hash[:action] == 'new' %>
  <%= render_back_button href: edit_requirements_template_path(@requirements_template),
                         green: true, arrow: true, class: 'pull-left' %>
<% else %>
  <%= render_back_button green: true, arrow: true, class: 'pull-left' %>
<% end %>
