<p id="notice"><%= notice %></p>

<p>
  <%= content_tag :b, Requirement.human_attribute_name(:position) %>
  <%= @requirement.position %>
</p>
<p>
  <%= content_tag :b, Requirement.human_attribute_name(:text_brief) %>
  <%= @requirement.text_brief %>
</p>
<p>
  <%= content_tag :b, Requirement.human_attribute_name(:text_full) %>
  <%= @requirement.text_full %>
</p>
<p>
  <%= content_tag :b, Requirement.human_attribute_name(:requirement_type) %>
  <%= @requirement.requirement_type %>
</p>
<p>
  <%= content_tag :b, Requirement.human_attribute_name(:obligation) %>
  <%= @requirement.obligation %>
</p>
<p>
  <%= content_tag :b, Requirement.human_attribute_name(:default) %>
  <%= @requirement.default %>
</p>
<p>
  <%= content_tag :b, Requirement.human_attribute_name(:requirements_template_id) %>
  <%= @requirement.requirements_template_id %>
</p>
