<%= form_for @user, html: { :class => 'form-horizontal' } do |f| %>
  <%= render partial: "shared/model_errors", locals: {model: @user } %>

    <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active"><%= link_to t('.personal'), '#tab1', data: {toggle: 'tab'} %></li>
         	<li><%= link_to t('.notifications'), '#tab2', data: {toggle: 'tab'} %></li>
        </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <%= render 'personal', f: f %>
        </div>
        <div class="tab-pane" id="tab2">
          <%= render 'notifications' unless @user.new_record? %>
        </div>
      </div>
    </div>
    <div class="buttons">
      <%= render_save_button %>
      <%= render_button_link t: '.cancel', href: edit_user_path(@user) %>
  	</div>

<% end %>

<script type="text/javascript">
  tab_jump();
  add_tab_to_pagination();
</script>


























