.grid_14.prefix_1.suffix_1.alpha.omega
  = content_tag :h1, t('.title')
  .grid_10.prefix_1.alpha
    = form_for @user, :url => finish_signup_update_user_path(@user), :method => :patch do |f|
      .left_label
        = f.label :first_name
      .right_field
        = f.text_field :first_name
      .left_label
        = f.label :last_name
      .right_field
        = f.text_field :last_name
      .clear
      .left_label &nbsp;
      .field_and_label_box.finish_signup_buttons
        = f.submit t('.submit')
        = button_to_function t('.reset'), 'this.form.reset();'
