<% @title_text = page_title %>

<h1 class="row-fluid"><span class="icon profile"></span><%= top_heading_text %></h1>

<div class="container regular-fontsize">
  <%= content_tag :h2, t('.sub_title') %>

  <%= content_tag :p, t('.explanation') %>
  <%= content_tag :p, t('.consent_required') %>

  <ul class="object-data">
    <li>
      <%= content_tag :strong, User.human_attribute_name(:login_id) %>
      <%= content_tag :span, @user.login_id %>
    </li>
    <li>
      <%= content_tag :strong, User.human_attribute_name(:full_name) %>
      <%= content_tag :span, @user.full_name %>
    </li>
    <li>
      <%= content_tag :strong, User.human_attribute_name(:email) %>
      <%= content_tag :span, @user.email %>
    </li>
    <li>
      <%= content_tag :strong, User.human_attribute_name(:institution_id) %>
      <%= content_tag :span, @user.institution.try(:full_name) %>
    </li>
  </ul>

  <%= render partial: 'login_terms' %>

  <div class="row-fluid">
    <%= render_back_button href: login_path, class: 'pull-left' %>
    <%= button_to t('.submit_button'), import_user_path, method: :post, class: 'pull-right' %>
  </div>
</div
