<% @title_text = t('.title') %>
<% @display_menu = "dmp_admin" %>
<h1 class="row-fluid"><span class="icon profile"></span><%= @title_text %></h1>
<div class="login row-fluid">

	<%= form_for @user, html: { :class => 'form-horizontal' } do |f| %>
		<%= render partial: "shared/model_errors", locals: {model: @user } %>
	  <%= render 'personal', f: f %>
	  <br>
		<div class="actions pull-left">
      <%= render_back_button arrow: true %>
    </div>
    <div class="actions pull-right">
      <%= render_cancel_button %>
      <%= render_submit_button t('.submit_button') %>
    </div>
	<% end %>

	<br>

	<div class="login terms">
		<%= render partial: 'login_terms' %>
	</div>

</div>
