<br />
<%= content_tag :h2, t('.resources_customized_for',
											 template: @template_name,
											 institution: @customization_institution_name),
								class: 'row-fluid' %>

<div>
	<%= content_tag :p, t('.visibility_info') %>
</div>


<table class="table table-striped">

	<thead>
		<tr>
			<%= content_tag :th, t('.details', default: Resource.human_attribute_name(:label)), class: 'span4' %>
			<%= content_tag :th, t('.action') %>
			<%= content_tag :th, Institution.model_name.human(count: 1, unit: false) %>
			<%= content_tag :th, Resource.human_attribute_name(:created_at) %>
			<%= content_tag :th, Resource.human_attribute_name(:updated_at) %>
		</tr>
	</thead>
	<tbody>
	<% @resource_contexts.each do |resource_context| %>
		<tr>
			<td>
				<div class="toggle-links">
					<%= resource_context.resource.nil? ? " " :  resource_context.resource.label %>
				</div>
			</td>
			<td>
            <%= link_to raw(''),
              edit_customization_resource_path(id: resource_context.resource_id,
              																 template_id: @template.id,
                                               customization_id: @customization.id,
                                               custom_origin: "Overview",
                                               origin_url: smart_origin_url),
                                               :class => 'icon edit-user',
                                               title: t('.action_tooltip') %>
            </td>
			<td><%= resource_context.institution.nil? ? " " :  resource_context.institution.nickname %></td>
			<td><%= l(resource_context.created_at) if resource_context.created_at %></td>
			<td><%= l(resource_context.updated_at) if resource_context.updated_at %></td>

		</tr>
	<% end %>
	<tbody>
</table>




<div class="buttons">
	<%= button_to t('.add_resource_button'),
								select_resource_path(template_id: @template.id,
								customization_overview_id: @resource_context.id,
								custom_origin: "Overview",
                origin_url: smart_origin_url,
                tab_number: params[:tab_number],
								:method => :post,
								:class => "btn btn-green") %>
</div>
