<% @title_text = t('.title') %>
<h1 class="row-fluid"><span class="icon resource-template"></span><%= t('.title') %></h1>
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab"><%= t('.basic_info') %></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
			<%= form_for @resource_context, html:{ :class => 'form-horizontal', multipart: true}  do |f| %>

			  <%= render partial: "shared/errors", locals: {model: @resource_context } %>

			  <div class="control-group" id="inst_text">
					<%= content_tag :p, @resource_context.class.human_attribute_name(:institution_id), class: 'control-label' %>
			    <div class="controls">
			      <p>
			        <%= @resource_context.institution_id ? @resource_context.institution.name : t('.no_institution_id') %>
			      </p>
			      <%= f.hidden_field :institution_id %>
			    </div>
			  </div>

			  <%= f.hidden_field :requirements_template_id %>

			  <div class="control-group">
			    <%= f.label :name, class: 'control-label' %>
			    <div class="controls">
			      <%= f.text_field :name, :class => "input-xxlarge", readonly: true%>
			      <%= content_tag :span, '', title: t('.name_tooltip'),
														data: {toggle: 'tooltip', placement: 'right', html: 'true'},
														class: 'icon questionmark tip' %>
			    </div>
			  </div>


				<%if user_role_in?(:dmp_admin) ||
						(user_role_in?(:institutional_admin) && (current_user.institution.subtree_ids.include?(@req_temp.institution_id))) ||
						(user_role_in?(:template_editor) && (current_user.institution.subtree_ids.include?(@req_temp.institution_id)))  %>
				  <div class="control-group">
						<%= content_tag :p, @resource_context.class.human_attribute_name(:requirements_template_id), class: 'control-label' %>
				    <div class="controls">
				      <span style="position: relative; top: 4px"><%= link_to @req_temp.name, edit_requirements_template_path(@req_temp) %></span>

				      <%= content_tag(:span, '', title: t('.template_tooltip'),
				      								'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-html' => 'true',
				      								:class => 'icon questionmark tip') %>
				    </div>
				  </div>

			  <%else%>

			  	<div class="control-group">
						<%= content_tag :p, @resource_context.class.human_attribute_name(:requirements_template_id), class: 'control-label' %>
				    <div class="controls">

				      <span style="position: relative; top: 4px"><%= @req_temp.name %></span>
				      <%= content_tag :span, '', title: t('.template_tooltip'),
															data: {toggle: 'tooltip', placement: 'right', html: 'true'},
															class: 'icon questionmark tip' %>
				    </div>
				  </div>

			  <%end%>

			  <div class="control-group" style="position: relative">
			  	<%= content_tag :span, '', title: t('.review_tooltip'),
													data: {toggle: 'tooltip', placement: 'right', html: 'true'},
													class: 'icon questionmark tip',
													style: 'position: absolute; top: 7px; left: 115px' %>
			    <%= f.label :review_type, class: 'control-label' %>
			    <div class="controls checkbox-controls">
			      <%= f.radio_button :review_type, :formal_review, :class => 'radio inline', :id => 'formal_review'  %>
			      <%= label_tag :formal_review, t_enum(:resource_context, :review_type, :formal_review), class: 'checkbox-label' %><br/>
			      <%= f.radio_button :review_type, :informal_review, :class => 'radio inline', :id => 'informal_review'  %>
			      <%= label_tag :informal_review, t_enum(:resource_context, :review_type, :informal_review), class: 'checkbox-label' %><br/>
			      <%= f.radio_button :review_type, :no_review, :class => 'radio inline', :id => 'no_review'  %>
			      <%= label_tag :no_review, t_enum(:resource_context, :review_type, :no_review), class: 'checkbox-label'%>
			    </div>
			  </div>

			  <div class="control-group">
			    <%= f.label :contact_info, class: 'control-label' %>
			    <div class="controls">
			      <%= f.text_field :contact_info, :class => "input-xlarge" %>
			      <%= content_tag :span, '', title: t('.contact_info_tooltip'),
														data: {toggle: 'tooltip', placement: 'right', html: 'true'},
														class: 'icon questionmark tip' %>
			    </div>
			  </div>

			  <div class="control-group">
			    <%= f.label :contact_email, class: 'control-label required' %>
			    <div class="controls">
			      <%= f.text_field :contact_email, :class => "input-xlarge", 'aria-required' => 'true' %>
			    </div>
			  </div>

			  <div class="control-group">
					<%= content_tag :p, @resource_context.class.human_attribute_name(:created_at), class: 'control-label' %>
			    <div class="controls">
			      <p><%= @resource_context.created_at ? l(@resource_context.created_at) : t('.no_created_at') %></p>
			    </div>
			  </div>

			  <div class="control-group">
					<%= content_tag :p, @resource_context.class.human_attribute_name(:updated_at), class: 'control-label' %>
			    <div class="controls">
			      <p><%= @resource_context.updated_at ? l(@resource_context.updated_at) : t('.no_updated_at') %></p>
			    </div>
			  </div>
			<div class="buttons">
			  <%= render_save_button %>
			</div>
			<%= hidden_field_tag :after_save, 'this_page' %>
			<% end %>
		</div>
	</div>
</div>
