<% @title_text = t('.title') %>
<h1 class="row-fluid"><span class="icon resource-template"></span><%= t('.title') %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="span4">
      	<%= sortable :name %>
      </th>
      <th>
      	<%= sortable :requirements_template_id %>
      </th>
      <th>
      	<%= sortable :institution_id %>
      </th>
      <th>
      	<%= sortable :created_at %>
      </th>
      <th>
      	<%= sortable :updated_at %>
      </th>
    </tr>
  </thead>
  <tbody>
	<% @resource_contexts.each do |resource_context| %>
		<tr>
			<td class="resource_contexts_name">
				<div class="toggle-links">
					<%= content_tag(:strong, resource_context.name) %>
					<div class="template-links">
						<%= link_to display_detail_overview, edit_resource_context_path(resource_context) %> |
            <%= link_to display_detail_details, customization_requirement_path(resource_context.id) %> |
            <%= link_to display_detail_delete,
            				delete_resource_context_path(resource_context: resource_context),
                    method: :delete,
                    confirm: t('.delete_confirm'),
                    :class => "delete" %>


					</div>
				</div>
			</td>
			<td>
				<%= resource_context.requirements_template.nil? ? " " : resource_context.requirements_template.name %>
			</td>
			<td>
				<%= resource_context.institution.nil? ? " " :  resource_context.institution.full_name %>
			</td>
			<td>
				<%= l(resource_context.created_at) if resource_context.created_at %>
			</td>
			<td>
				<%= l(resource_context.updated_at) if resource_context.updated_at %>
			</td>
		</tr>
	<% end %>
	<% if @resource_contexts.empty? %>
		<tr>
  		<td colspan="5">You have no template customizations</td>
  	</tr>
	<% end %>
  </tbody>
</table>


<% if @scope == "all" %>
  <div class="buttons pagination">
		<%= render_button_link t: '.view_less', href: {scope: 'less', order_scope: @order_scope} %>
    <%= paginate @resource_contexts %>
  </div>
<% else %>
  <div class="buttons pagination">
		<%= render_button_link t: '.view_all', href: {scope: 'all', order_scope: @order_scope} %>
    <%= paginate @resource_contexts %>
  </div>
<%end%>

<%= render_button_link t('.new_button'), dmp_for_customization_path, green: true %>
