<% @title_text = t('.title') %>
<%= content_tag :h2, t('.edit_resource_for', resource: @resource.label, institution: @current_institution.full_name) %>

  <%= form_for @resource, html: { :class => 'form-horizontal' } do |f| %>

    <%= render partial: "shared/errors", locals: {model: @resource } %>

    <fieldset>
      <div class="control-group">
        <%= f.label :resource_type, class: 'control-label' %>
        <div class="controls">
          <%= f.select :resource_type,
                       options_for_select([
                             [t_enum(:resource, :resource_type, :actionable_url), :actionable_url],
                             [t_enum(:resource, :resource_type, :help_text), :help_text]
                           ], @resource.resource_type) %>
          <%= content_tag :span, '',
                          title: t('.resource_type_tooltip'),
                          data: {toggle: 'tooltip', placement: 'right', html: 'true'},
                          class: 'icon questionmark tip' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :label, class: 'control-label required', id: 'label_label' %>
        <div class="controls">
          <%= f.text_field :label, placeholder: t('.label_placeholder'), class: 'input-xlarge', aria: {required: 'true'} %>
          <%= content_tag :span, '',
                          title: t('.label_tooltip'),
                          data: {toggle: 'tooltip', placement: 'right', html: 'true'},
                          class: 'icon questionmark tip' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :text, class: 'control-label', id: 'text' %>
        <div class="controls">
          <%= f.text_area :text, size: '20x10', placeholder: t('.text_placeholder'), class: 'full-length' %>
        </div>
      </div>

      <%= hidden_field_tag(:origin_url, params[:origin_url]) %>
      <%= hidden_field_tag(:tab_number, params[:tab_number]) %>


      <div class="control-group">
         <%= f.label :value, class: 'control-label', id: 'value_label' %>
        <div class="controls">
          <%= f.text_field :value, placeholder: t('.value_placeholder'), class: 'input-xlarge' %>
        </div>
      </div>

      <div class="actions pull-left">
        <%= render_back_button href: institutions_path(anchor: params[:tab_number]),
                               arrow: true, green: false %>
      </div>


      <div class="actions pull-right">
        <%= render_cancel_button %>

        <%= render_submit_button t: '.save_changes' %>

        <%= link_to content_tag(:span, '', class: 'icon remove') + t('.delete_resource'),
                    delete_resource_path(resource_id: @resource.id,
                                         custom_origin: @custom_origin,
                                         customization_id: @customization_id,
                                         origin_url: @origin_url,
                                         requirement_id: @requirement_id,
                                         resource_level: @resource_level,
                                         tab: @tab,
                                         tab_number: @tab_number,
                                         template_id: @template_id),
                    method: :delete,
                    data: {confirm: t('globals.messages.prompt.confirm')},
                    class: 'red remove_fields' %>

      </div>

    </fieldset>

  <% end %>






