<% @title_text = t('.title') %>
<% @display_menu = "Customizations" %>
<%= content_tag :h2, t('.edit_resource', label: @resource.label) %>

<%= form_for @resource ,
        url: update_customization_resource_path(customization_id: @customization_id,
                  id: @resource.id,
                  template_id: @template_id,
                  resource_level: @resource_level,
                  tab_number: @tab_number,
                  requirement_id: @requirement_id,
                  custom_origin: @custom_origin),
        html: { :class => 'form-horizontal' } do |f| %>

  <%= render partial: "shared/errors", locals: {model: @resource } %>

  <fieldset>
    <div class="control-group">
      <%= f.label :resource_type, class: 'control-label' %>
      <div class="controls">

        <% if  @resource_level=="requirement" %>
          <%= f.select :resource_type, options_for_enum_select(@resource) %>
        <% else %>
          <%= f.select :resource_type, options_for_enum_select([:actionable_url, :help_text], @resource) %>
        <% end %>

      </div>
    </div>

    <div class="control-group">
      <%= f.label :label, class: 'control-label required' %>
      <div class="controls">
        <%= f.text_field :label, placeholder: t('.label_placeholder'), class: 'input-xlarge', aria: {required: 'true'} %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :text, class: 'control-label', :id => 'text' %>
      <div class="controls">
        <%= f.text_area :text, size: '20x10', placeholder: t('.text_placeholder'), class: 'full-length' %>
      </div>
    </div>


    <div class="control-group">
       <%= f.label :value, class: 'control-label', id: 'value_label' %>
      <div class="controls">
        <%= f.text_field :value, placeholder: t('.value_placeholder'), class: 'input-xlarge' %>
      </div>
    </div>

    <div class="actions pull-left">
      <% if @custom_origin == 'Details' %>
        <%= render_back_button href: "#{@origin_path}##{@tab_number}",
                               arrow: true, green: false %>
      <%else%>
        <%= render_back_button href: @origin_path.to_s,
                               arrow: true, green: false %>
      <%end%>
    </div>

    <div class="actions pull-right">

      <%= render_cancel_button %>

      <%= render_submit_button t: '.save_changes' %>


      <%= link_to content_tag(:span, '', class: 'icon remove') + t('.delete_resource'),
                  delete_resource_path(resource_id: @resource.id,
                                       customization_overview_id: @customization_id,
                                       custom_origin: @custom_origin,
                                       requirement_id: @requirement_id,
                                       tab_number: @tab_number,
                                       tab: @tab,
                                       origin_url: smart_origin_url),
                  method: :delete,
                  data: {confirm: t('.confirm_delete_prompt')},
                  class: 'red remove_fields' %>
    </div>
  </fieldset>
<% end %>




<table class="table table-striped">
  <% if @any_templates || @any_requirements%>
    <tr>
      <%= content_tag :th, t('.resource_shown_in'), colspan: 3 %>
    </tr>

  <% else%>
    <tr>
      <%= content_tag :th, t('.resource_global'), colspan: 3 %>
    </tr>
  <%end%>


    <% if @any_templates %>

      <tr>
        <%= content_tag :th, t('.templates'), colspan: 3 %>
      </tr>

      <tr>
        <%= content_tag :th, t('.template'), colspan: 2 %>
        <th>
          <%= t('.unlink') %>
          <%= content_tag :span, '',
                          title: t('.unlink_tooltip'),
                          data: {toggle: 'tooltip', placement: 'top', html: 'true'},
                          class: 'icon questionmark tip' %>
        </th>
      </tr>

      <% @resource_contexts_templates.each do |resource_contexts_template| %>
        <tr>

          <%if resource_contexts_template.requirements_template_id.to_s == @template_id %>
            <td colspan="2">
              <%= resource_contexts_template.requirements_template.name %> (current)
              <%= content_tag :span, '',
                              title: t('.template_tooltip'),
                              data: {toggle: 'tooltip', placement: 'top', html: 'true'},
                              class: 'icon questionmark tip' %>
            </td>
          <%else%>
            <td colspan="2"><%= resource_contexts_template.requirements_template.name %></td>
          <%end%>


          <td>
            <%if (!@any_requirements && @templates_count==1)%>
              <%= link_to raw(''),
                unlink_resource_from_template_path(resource_id: @resource.id,
                                        template_id: resource_contexts_template.requirements_template_id,
                                        customization_id: @customization_id,
                                        custom_origin: @custom_origin,
                                        tab_number: @tab_number,
                                        last_template: 'yes'),
                                        method: :post,
                                        :class => 'icon unlink',
                                        data: {confirm: t('.confirm_last_delete_prompt')} %>
            <%else%>
              <%= link_to raw(''),
                unlink_resource_from_template_path(resource_id: @resource.id,
                                        template_id: resource_contexts_template.requirements_template_id,
                                        customization_id: @customization_id,
                                        custom_origin: @custom_origin,
                                        tab_number: @tab_number,
                                        last_template: 'no'),
                                        method: :post,
                                        :class => 'icon unlink' %>
            <%end%>
          </td>

        </tr>
      <% end %>

    <% end %>

    <tr>
      <td colspan="3"></td>
    </tr>

    <% if @any_requirements %>

      <tr>
        <th colspan="3" >The following Requirements:</th>
        <%= content_tag :th, t('.requirements'), colspan: 3 %>
      </tr>

      <tr>
        <%= content_tag :th, t('.requirement') %>
        <%= content_tag :th, t('.assoc_template') %>
        <th>
          <%= t('.unlink') %>
          <%= content_tag :span, '',
                          title: t('.unlink_tooltip'),
                          data: {toggle: 'tooltip', placement: 'top', html: 'true'},
                          class: 'icon questionmark tip' %>
        </th>
      </tr>

      <% @resource_contexts_requirements.each do |resource_contexts_requirement| %>
        <tr>
         <td><%= resource_contexts_requirement.requirement.text_brief if resource_contexts_requirement.requirement%></td>
         <%if resource_contexts_requirement.requirements_template.id.to_s == @template_id %>
            <td>
              <%= resource_contexts_requirement.requirements_template.name %> (current)
              <%= content_tag :span, '',
                              title: t('.template_tooltip'),
                              data: {toggle: 'tooltip', placement: 'top', html: 'true'},
                              class: 'icon questionmark tip' %>
            </td>
          <%else%>
            <td><%= resource_contexts_requirement.requirements_template.name%></td>
          <%end%>
          <td>
            <%if (!@any_templates && @requirements_count==1)%>
              <%= link_to raw(''),
                    unlink_resource_from_requirement_path(resource_id: @resource.id,
                                        template_id: resource_contexts_requirement.requirements_template_id,
                                        requirement_id: resource_contexts_requirement.requirement_id,
                                        customization_id: @customization_id,
                                        custom_origin: @custom_origin,
                                        tab_number: @tab_number,
                                        last_requirement: 'yes'),
                                        method: :post,
                                        :class => 'icon unlink',
                                        data: {confirm: t('.confirm_last_delete_prompt')} %>
            <%else%>
              <%= link_to raw(''),
                    unlink_resource_from_requirement_path(resource_id: @resource.id,
                                        template_id: resource_contexts_requirement.requirements_template_id,
                                        requirement_id: resource_contexts_requirement.requirement_id,
                                        customization_id: @customization_id,
                                        custom_origin: @custom_origin,
                                        tab_number: @tab_number,
                                        last_requirement: 'no'),
                                        method: :post,
                                        :class => 'icon unlink'%>
            <%end%>
          </td>
        </tr>
      <% end %>

    <% end %>

</table>








