<% @display_menu = "customizations" %>
<%= content_tag :h2, t('.new_resource_for', institution: @current_institution.full_name) %>


  <%= form_for @resource, html: { :class => 'form-horizontal' } do |f| %>

    <%= render partial: "shared/model_errors", locals: {model: @resource } %>

    <fieldset>
      <div class="control-group">
        <%= f.label :resource_type, class: 'control-label' %>
        <div class="controls">
          <%= f.select :resource_type, options_for_enum_select([:actionable_url, :help_text], @resource) %>
        </div>
      </div>

      <div class="control-group">

        <%= f.label :label, class: 'control-label required', id: 'label_label' %>

        <div class="controls">
          <%= f.text_field :label, placeholder: t('.label_placeholder'), class: 'input-xlarge' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :text, class: 'control-label', id: 'text' %>
        <div class="controls">
          <%= f.text_area :text, size: '20x10',placeholder: t('.text_placeholder'), class: 'input-xlarge' %>
        </div>
      </div>


      <div class="control-group">
         <%= f.label :value, class: ' control-label', id: 'value_label' %>
        <div class="controls">
          <%= f.text_field :value, placeholder: t('.value_placeholder'), class: 'input-xlarge' %>
        </div>
      </div>

      <div class="actions pull-left">
        <%= render_back_button href: institutions_path(anchor: 'tab_tab2'),
                               arrow: true, green: false %>
      </div>

      <div class="actions pull-right">
        <%= render_cancel_button %>
        <%= render_submit_button t: '.save_changes' %>
      </div>

      <%= hidden_field_tag :origin_url, smart_origin_url %>
      <%= hidden_field_tag :tab_number, params[:tab_number] %>


    </fieldset>
  <% end %>
