<div class="control-group">
	<%= f.label :label, t('.funder_links'), class: 'control-label' %>
	<%= f.label :url, class: 'hide' %>
	<div class="controls">
		<%= f.text_field :label, placeholder: t('.link_label_placeholder') %>
		<%= f.text_field :url, placeholder: t('.link_url_placeholder') %>
		<%= f.hidden_field :_destroy %>
		<%= link_to(content_tag(:span, '', :class => 'icon remove') + t('.remove_link'), '#', :class => 'red remove_fields') %>
		<%= content_tag(:span, '', :title => t('.funder_links_tooltip'), 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-html' => 'true', :class => 'icon questionmark tip') %>
	</div>
</div>