<% @title_text = page_title %>
<% @display_menu = "dmp_templates" %>
<h1 class="row-fluid"><span class="icon dmp-template"></span><%= top_heading_text %></h1>

<div class="table-scope">
	<%= link_to t('.all_filter_link', count: @all), {scope: "all_limited", order_scope: @order_scope, all_scope: @all_scope}, class: 'all_limited' %>
	|
	<%= link_to t('.active_filter_link', count: @active), {scope: "active", order_scope: @order_scope, all_scope: @all_scope}, class: 'active' %>
	|
	<%= link_to t('.inactive_filter_link', count: @inactive), {scope: "inactive", order_scope: @order_scope, all_scope: @all_scope}, class: 'inactive' %>
	|
	<%= link_to t('.institutional_filter_link', count: @institutional), {scope: "institutional", order_scope: @order_scope, all_scope: @all_scope}, class: 'institutional' %>
	|
	<%= link_to t('.public_filter_link', count: @public), {scope: "public", order_scope: @order_scope, all_scope: @all_scope}, class: 'public' %>
	|
	<%= link_to t('.inst_public_filter_link', count: @your_inst_public), {scope: "your_inst_public", order_scope: @order_scope, all_scope: @all_scope}, class: 'your_inst_public' %>

	<%= content_tag(:span, '', title: t('.filter_tooltip_html'), 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-html' => 'true', class: 'icon questionmark tip') %>
</div>
<table class="table table-striped" id="dmp_templates">
	<thead>
		<tr>
      <th class="span4">
      	<%#= link_to "Template Name", {order_scope: "Name", scope: @scope, all_scope: @all_scope} %>
      	<%= sortable :name %>
      </th>
      <th class="span3">
      	<%= sortable :institution_id %>
      </th>
      <th>
      	<%= sortable :status %>
      </th>
      <th>
      	<%= sortable :visibility %>
      	<%= content_tag(:span, '', title: t('.sort_by_visibility_tooltip_html'), 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-html' => 'true', class: 'icon questionmark tip') %>
      </th>
      <th>
      	<%= sortable :created_at %>
      </th>
      <th>
      	<%= sortable :updated_at %>
      </th>
    </tr>
	</thead>
	<tbody>
	<% @requirements_templates.each do |requirements_template| %>
		<tr>
			<td class="requirements_template_name">
				<div class="toggle-links">

					<%= content_tag(:strong, requirements_template.name, id: requirements_template.name)%>

					<% if user_role_in?(:dmp_admin) %>
						<div class="template-links">
              <%= link_to_edit_requirements_template requirements_template  %>
              |
              <%= link_to_requirements_template_requirements requirements_template, class: 'details' %>
              |
              <%= link_to t('.toggle_status_link', template: requirements_template),
                          toggle_active_requirements_template_path(requirements_template),
                          remote: true,
                          id: "activate_link_#{requirements_template.id}",
                          class: "ajax" %> |
              <%= link_to_resource_contexts_choose_institution({requirements_template_id: requirements_template.id}, {}) %>
              <% if requirements_template.user_can_delete_me?(current_user) %>
                | <%= link_to t('.delete_link'),
                              requirements_template_path(requirements_template,
                              after_url: request.original_url),
                              method: :delete,
                              data: { confirm: t('globals.messages.prompt.confirm') } %>
              <% end %>
						</div>

					<% elsif user_role_in?(:institutional_admin) && (current_user.institution.subtree_ids.include?(requirements_template.institution_id)) %>
						<div class="template-links">
              <%= link_to_edit_requirements_template requirements_template %>
              |
              <%= link_to_requirements_template_requirements requirements_template, class: 'details' %>
              |
              <%= link_to t('.toggle_status_link', template: requirements_template),
                          toggle_active_requirements_template_path(requirements_template),
                          remote: true,
                          id: "activate_link_#{requirements_template.id}",
                          class: "ajax" %>
              |
              <%= link_to_new_resource_context(requirements_template_id: requirements_template, institution_id: current_user.institution_id) %>
              <% if requirements_template.user_can_delete_me?(current_user) %>
                | <%= link_to t('.delete_link'),
                              requirements_template_path(requirements_template,
                              after_url: request.original_url),
                              method: :delete,
                              data: { confirm: t('globals.messages.prompt.confirm') } %>
              <% end %>
						</div>

					<% elsif user_role_in?(:institutional_admin) && (!current_user.institution.subtree_ids.include?(requirements_template.institution_id)) %>
						<div class="template-links">
              <%= link_to_new_resource_context(requirements_template_id: requirements_template, institution_id: current_user.institution_id) %>
						</div>

					<% elsif user_role_in?(:template_editor) && user_role_in?(:resource_editor) && (current_user.institution.subtree_ids.include?(requirements_template.institution_id)) %>
						<div class="template-links">
              <%= link_to_edit_requirements_template requirements_template %>
              |
              <%= link_to_requirements_template_requirements requirements_template, class: 'details' %>
              |
							<%= link_to t('.toggle_status_link', template: requirements_template),
                          toggle_active_requirements_template_path(requirements_template),
                          remote: true,
                          id: "activate_link_#{requirements_template.id}",
                          class: "ajax" %>
              |
              <%= link_to_new_resource_context(requirements_template_id: requirements_template, institution_id: current_user.institution_id) %>
              <% if requirements_template.user_can_delete_me?(current_user) %>
                | <%= link_to t('.delete_link'),
                              requirements_template_path(requirements_template, after_url: request.original_url),
                              method: :delete,
                              data: { confirm: t('globals.messages.prompt.confirm') } %>
              <% end %>
						</div>

					<% elsif user_role_in?(:template_editor) && user_role_in?(:resource_editor) && (!current_user.institution.subtree_ids.include?(requirements_template.institution_id)) %>
						<div class="template-links">
              <%= link_to_new_resource_context(requirements_template_id: requirements_template, institution_id: current_user.institution_id) %>
						</div>

					<% elsif user_role_in?(:template_editor) && !user_role_in?(:resource_editor) && (!current_user.institution.subtree_ids.include?(requirements_template.institution_id)) %>
					<div class="template-links">
						<br>
					</div>

					<% elsif user_role_in?(:template_editor) && !user_role_in?(:resource_editor) && (current_user.institution.subtree_ids.include?(requirements_template.institution_id)) %>
					<div class="template-links">
						<div class="template-links">
              <%= link_to_edit_requirements_template requirements_template %>
              |
              <%= link_to_requirements_template_requirements requirements_template, class: 'details' %>
              |
              <%= link_to t('.toggle_status_link', template: requirements_template),
                          toggle_active_requirements_template_path(requirements_template),
                          remote: true,
                          id: "activate_link_#{requirements_template.id}",
                          class: "ajax" %>
              <% if requirements_template.user_can_delete_me?(current_user) %>
                | <%= link_to t('.delete_link'),
                              requirements_template_path(requirements_template,
                              after_url: request.original_url),
                              method: :delete,
                              data: { confirm: t('globals.messages.prompt.confirm') } %>
              <% end %>
					</div>

					<% elsif (user_role_in?(:resource_editor)) %>
						<div class="template-links">
              <%= link_to_new_resource_context(requirements_template_id: requirements_template, institution_id: current_user.institution_id) %>
						</div>

					<%else%>
						<div class="template-links">
							<br>
						</div>
					<%end%>

				</div>
			</td>
			<td><%= requirements_template.institution.full_name if requirements_template.institution %></td>
      <%= content_tag :td, t_enum(requirements_template, :active), id: "status_#{requirements_template.id}" %>
			<td><%= t_enum(requirements_template, :visibility) %></td>
			<td><%= l(requirements_template.created_at) if requirements_template.created_at %></td>
			<td><%= l(requirements_template.updated_at) if requirements_template.updated_at %></td>
		</tr>
	<% end %>
	<tbody>
</table>


<% if @all_scope == "all" %>
	<div class="buttons pagination">
    <%= render_button_link t: '.view_less',
			   href: requirements_templates_path(params.merge(all_scope: '')) %>
		<%= paginate @requirements_templates %>
	</div>
<% else %>
	<div class="buttons pagination">
    <%= render_button_link t: '.view_all',
			   href: requirements_templates_path(params.merge(all_scope: 'all')),
			   id: 'view_all_templates' %>
		<%= paginate @requirements_templates %>
	</div>
<%end%>
<% if user_role_in?(:dmp_admin, :template_editor, :institutional_admin) %>
  <%= button_to requirements_template_information_text(t: '.new_button'),
                requirements_template_information_path,
                method: :get, class: 'btn'  %>
<% end %>

