<div class= 'global_resources'>
	<% unless (  @requirement.global_resources.actionable_url.empty? && @requirement.template_resources.actionable_url.empty? &&
                @requirement.requirement_resources.actionable_url.empty? ) %>
    <%= content_tag :h3, t('.general_resources') %>
  <%end%>

  <% unless @requirement.global_resources.actionable_url.empty? %>
    <ul>
      <%# global resources for this requirement, Stephen's case #1 %>
      <% (@requirement.global_resources.actionable_url).each do |resource| %>
        <li><%= link_to resource.label, fix_url(resource.value), target: '_blank' %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class= 'template_resources'>
	<% unless @requirement.template_resources.actionable_url.empty? %>
  <!-- <h3> General Resources</h3> -->
  <ul>
    <%# template resources for this requirement, Stephen's case #2 %>
    <% (@requirement.template_resources.actionable_url).each do |resource| %>
      <li><%= link_to resource.label, fix_url(resource.value), target: '_blank' %></li>
    <% end %>
  </ul>
  <% end %>
</div>

<div class= 'requirement_resources'>
	<% unless @requirement.requirement_resources.actionable_url.empty? %>
  <!-- <h3> General Resources</h3> -->
  <ul>
    <%# requirement resources for this requirement, Stephen's case #3 %>
    <% (@requirement.requirement_resources.actionable_url).each do |resource| %>
      <li><%= link_to resource.label, fix_url(resource.value), target: '_blank' %></li>
    <% end %>
  </ul>
  <% end %>
</div>

<div class= 'institution_customization_resources'>
	<% unless @requirement.institution_customization_resources(current_user.institution_id).actionable_url.empty? %>
  <%= content_tag :h3, t('.institutional_resources', institution: current_user.institution.name) %>
  <ul>
    <%# institution customization resources for this requirement, Stephen's case #4 %>
    <% (@requirement.institution_customization_resources(current_user.institution_id).actionable_url).each do |resource| %>
      <li><%= link_to resource.label, fix_url(resource.value), target: '_blank' %></li>
    <% end %>
  </ul>
 	<% end %>
</div>

<div class= 'template_customization_resources'>
	<% unless @requirement.template_customization_resources(current_user.institution_id).actionable_url.empty? %>
  <%= content_tag :h3, t('.customized_for_institution_resources',
                         template: @requirements_template.name,
                         institution: current_user.institution.name) %>
  <ul>
    <%# template customization resources for this requirement, Stephen's case #5 %>
    <% (@requirement.template_customization_resources(current_user.institution_id).actionable_url).each do |resource| %>
      <li><%= link_to resource.label, fix_url(resource.value), target: '_blank' %></li>
    <% end %>
  </ul>
  <% end %>
</div>

<div class= 'requirement_customization_resources'>
  <%# requirement customization resources for this requirement, Stephen's case #7 %>
  <% unless @url_resources.empty? %>
    <% if @requirement.template_customization_resources(current_user.institution_id).actionable_url.exists? %>
        <h3></h3>
    <% else %>
      <%= content_tag :h3, t('.customized_for_institution_resources',
                             template: @requirements_template.name,
                             institution: current_user.institution.name) %>
    <% end %>
  	<ul>
  		<% @url_resources.each do |resource| %>
  			<li><%= link_to resource.label, fix_url(resource.value), target: '_blank' %></li>
  		<% end %>
  	</ul>
  <% end %>
</div>