<% if @customization_review == "formal" %>
  <% if state(@plan) == :submitted || state(@plan) == :rejected %>
    <%= render_button_link t('.submit_for_review_button'), plan_plan_states_submitted_path(@plan), green: true, disabled: true, class: 'pull-right' %>
  <% elsif state(@plan) == :new || state(@plan) == :revised %>
    <%= render_button_link t('.submit_for_review_button'), plan_plan_states_submitted_path(@plan), green: true, method: :post, class: 'pull-right' %>
  <% elsif state(@plan) == :committed%>
    <%= render_button_link t: '.done', href: plan_plan_states_committed_path(@plan), green: true, disabled: true, class: 'pull-right' %>
  <% elsif state(@plan) == :approved %>
    <%= render_button_link t: '.done', href: plan_plan_states_committed_path(@plan), green: true, method: :post, class: 'pull-right' %>
  <% end %>

<% elsif @customization_review == "informal" %>
  <% if state(@plan) == :submitted %>
    <%= render_button_link t('.submit_for_review_button'), plan_plan_states_submitted_path(@plan), green: true, disabled: true, class: 'pull-right' %>
  <% elsif state(@plan) == :new || state(@plan) == :revised %>
    <%= render_button_link t('.submit_for_review_button'), plan_plan_states_submitted_path(@plan), green: true, method: :post, class: 'pull-right' %>
    <%= content_tag :span, '', title: t('.submit_for_review_tooltip_html'), data: {toggle: 'tooltip', placement: 'right', html: 'true'}, class: 'icon questionmark tip pull-right' %>
    <%= render_button_link t: '.done', href: plan_plan_states_committed_path(@plan), green: true, method: :post, class: 'pull-right' %>
    <%= content_tag :span, '', title: t('.done_tooltip_html'), data: {toggle: 'tooltip', placement: 'right', html: 'true'}, class: 'icon questionmark tip pull-right' %>
  <% elsif state(@plan) == :committed %>
    <%= render_button_link t: '.done', href: plan_plan_states_committed_path(@plan), green: true, disabled: true, class: 'pull-right' %>
  <% elsif state(@plan) == :reviewed %>
    <%= render_button_link t: '.done', href: plan_plan_states_committed_path(@plan), green: true, method: :post, class: 'pull-right' %>
  <% end %>

<% elsif @customization_review == "no" %>
  <% if state(@plan) == :committed %>
    <%= render_button_link t: '.done', href: plan_plan_states_committed_path(@plan), green: true, disabled: true, class: 'pull-right' %>
  <% else %>
    <%= render_button_link t: '.done', href: plan_plan_states_committed_path(@plan), green: true, method: :post, class: 'pull-right' %>
  <% end %>

<% elsif (@customization_review == nil && @template_review == "formal") %>
  <% if state(@plan) == :submitted || state(@plan) == :rejected %>
    <%= render_button_link t('.submit_for_review_button'), plan_plan_states_submitted_path(@plan), green: true, disabled: true, class: 'pull-right' %>
  <% elsif state(@plan) == :new || state(@plan) == :revised %>
    <%= render_button_link t('.submit_for_review_button'), plan_plan_states_submitted_path(@plan), green: true, method: :post, class: 'pull-right' %>
  <% elsif state(@plan) == :committed%>
    <%= render_button_link t: '.done', href: plan_plan_states_committed_path(@plan), green: true, disabled: true, class: 'pull-right' %>
  <% elsif state(@plan) == :approved %>
    <%= render_button_link t: '.done', href: plan_plan_states_committed_path(@plan), green: true, method: :post, class: 'pull-right' %>
  <% end %>

<% elsif (@customization_review == nil && @template_review == "informal") %>
  <% if state(@plan) == :submitted %>
    <%= render_button_link t('.submit_for_review_button'), plan_plan_states_submitted_path(@plan), green: true, disabled: true, class: 'pull-right' %>
  <% elsif state(@plan) == :new || state(@plan) == :revised %>
    <%= render_button_link t('.submit_for_review_button'), plan_plan_states_submitted_path(@plan), green: true, method: :post, class: 'pull-right' %>
    <%= content_tag :span, '', title: t('.submit_for_review_tooltip_html'), data: {toggle: 'tooltip', placement: 'right', html: 'true'}, class: 'icon questionmark tip pull-right' %>
    <%= render_button_link t: '.done', href: plan_plan_states_committed_path(@plan), green: true, method: :post, class: 'pull-right' %>
    <%= content_tag :span, '', title: t('.done_tooltip_html'), data: {toggle: 'tooltip', placement: 'right', html: 'true'}, class: 'icon questionmark tip pull-right' %>
  <% elsif state(@plan) == :committed %>
    <%= render_button_link t: '.done', href: plan_plan_states_committed_path(@plan), green: true, disabled: true, class: 'pull-right' %>
  <% elsif state(@plan) == :reviewed %>
    <%= render_button_link t: '.done', href: plan_plan_states_committed_path(@plan), green: true, method: :post, class: 'pull-right' %>
  <% end %>

<% elsif (@customization_review == nil && @template_review == "no") %>
  <% if state(@plan) == :committed %>
    <%= render_button_link t: '.done', href: plan_plan_states_committed_path(@plan), green: true, disabled: true, class: 'pull-right' %>
  <% else %>
    <%= render_button_link t: '.done', href: plan_plan_states_committed_path(@plan), green: true, method: :post, class: 'pull-right' %>
  <% end %>

<% elsif (@customization_review == nil && @template_review == nil) %>
  <h3 class="red pull-right"><%= content_tag :strong, t('.review_not_defined') %></h3>

<% end %>
