<% @title_text = t('.title') %>

<%= i18n_include_tag %>
<%= i18n_include_tag 'shared.button', 'shared.submit_button' %>
<h1 class="row-fluid"><span class="icon overview"></span><%= @title_text %></h1>
<div class="tabbable">
  <ul class="nav-tabs">
    <li class="active"><%= link_to t('.plan_overview_link'), '#', data: {toggle: :tab} %></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= form_for @plan, html:{ :class => 'form-horizontal' }  do |f| %>
        <%= render partial: "shared/model_errors", locals: {model: @plan } %>
        <%= f.hidden_field :current_user_id, value: @user.id %>
        <%= f.hidden_field :original_plan_id, value: @original_plan_id %>
        <div class="control-group">
          <%= label_tag :selected_requirement_template_name, t('.selected_requirement_template_name'), class: 'control-label' %>
          <div class="controls">
            <% if @plan.new_record? && current_page?(controller: 'plans', action: 'new') %>
              <%= f.hidden_field :requirements_template_id, value: params[:requirements_template_id], id: 'dmp_template_id' %>
              <%= text_field_tag(:selected_requirement_template, RequirementsTemplate.where(id: params[:requirements_template_id]).first.try(:name), id: 'selected_requirement_template_name', :class => 'input-xxlarge', disabled: true) %>
            <% elsif @plan.new_record? && current_page?(controller: 'plans', action: 'copy_existing_template') %>
              <%= f.hidden_field :requirements_template_id, value: @plan.requirements_template_id, id: 'dmp_template_id' %>
              <%= text_field_tag(:selected_requirement_template, @plan.requirements_template.name, id: 'selected_requirement_template_name', :class => 'input-xxlarge', disabled: true) %>
            <% else %>
              <%= f.hidden_field :requirements_template_id, value: @plan.requirements_template_id, id: 'dmp_template_id' %>
              <%= text_field_tag(:selected_requirement_template, @plan.requirements_template.name, id: 'selected_requirement_template_name', :class => 'input-xxlarge', disabled: true) %>
            <% end %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :name, :class => 'control-label required' %>
          <div class="controls">
            <% unless @plan.new_record? && current_page?(controller: 'plans', action: 'copy_existing_template') %>
              <%= f.text_area :name , :class => 'input-xxlarge', 'aria-required' => 'true' %>
            <% else %>
              <%= f.text_area :name , value: t('.copy_of', plan: @plan.name), class: 'input-xxlarge', 'aria-required' => 'true' %>
            <% end %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :solicitation_identifier, class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :solicitation_identifier  , :class => 'input-xxlarge'%>
            <%= content_tag :span, '', title: t('.solicitation_identifier_tooltip'), data: {toggle: 'tooltip', placement: 'right', html: 'true'}, class: 'icon questionmark tip' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :submission_deadline, class: 'control-label' %>
          <div class="controls">
            <%= f.date_field :submission_deadline, value: @plan.submission_deadline.try(:strftime, '%F'), class: 'datepicker' %>
            <%= content_tag :span, '', title: t('.submission_deadline_tooltip'), data: {toggle: 'tooltip', placement: 'right', html: 'true'}, class: 'icon questionmark tip' %>
          </div>
        </div>

        <% if @plan.new_record? %>
          <div class="control-group">
            <p class="control-label">
              <%= content_tag :span, '',
                              title: t('.visibility_tooltip_html'),
                              data: {toggle: 'tooltip', placement: 'right', html: 'true'},
                              class: 'icon questionmark tip' %>
              <%= Plan.human_attribute_name(:visibility) %>
            </p>
            <div class="controls checkbox-controls">
              <%= f.radio_button :visibility, :public, class: 'radio inline' %>
              <%= f.label :visibility, t_enum(:plan, :visibility, :public), value: :public, class: 'radio-label' %>
              <br/>
              <%= f.radio_button :visibility, :institutional, class: 'radio inline' %>
              <%= f.label :visibility, t_enum(:plan, :visibility, :institutional), value: :institutional, class: 'radio-label' %>
              <br/>
              <%= f.radio_button :visibility, :private, class: 'radio inline', checked: true  %>
              <%= f.label :visibility, t_enum(:plan, :visibility, :private), value: :private, class: 'radio-label'%>
              <br/>
              <%if current_user.institution.parent || current_user.institution.has_children? %>
                <%= f.radio_button :visibility, :unit, class: 'radio inline' %>
                <%= f.label :visibility, t_enum(:plan, :visibility, :unit), value: :unit, class: 'radio-label'%>
              <%end%>
            </div>
          </div>
          <%= render partial: '/users/plan_autocomplete_widget',
              :locals =>
             {  user_role: 'coowner',
                submit_url: '', #this item is submitted as part of the main form, not by itself
                item_description: 'co-owner'
             } %>

        <% else %>
          <%= render partial: '/users/plan_autocomplete_widget',
              :locals =>
             {  user_role: 'coowner',
                submit_url: '', #this item is submitted as part of the main form, not by itself
                item_description: 'co-owner'
             } %>
            <div class="controls">
              <%= t('.owner_html', owner: @planowner.full_name) unless @planowner.id == current_user.id %>
              <%= content_tag :span, t('.coowners') %>
              <strong class= 'blue'><%= @coowners.map {|coowner| coowner.full_name.to_s + raw(link_to '', delete_coowner_path(coowner_id: coowner.id, plan_id: @plan.id), method: :delete, data: {confirm: t('globals.messages.prompt.confirm')}, class: 'remove icon', title: t('remove_coowner_link'))}.join(', ').html_safe %></strong>
            </div>
        <% end %>

        <% unless @plan.new_record? %>
          <div class="control-group">
            <%= content_tag :p, Plan.human_attribute_name(:current_plan_state_id), class: 'control-label' %>
            <div class="controls">
              <p>
                <strong class="blue"><%= translated_state(@plan) %></strong>
                <%= link_to content_tag(:span, '', class: 'icon-chevron-down') + t('.show_history_link'), '#', class: 'view-plan-history' %>
                <%= link_to content_tag(:span, '', class: 'icon-chevron-up') + t('.hide_history_link'), '#', class: 'hide-plan-history' %>
              </p>
              <div id="plan_history" class="history">
                <%= render partial: 'plan_states_history' %>
              </div>
            </div>
          </div>
          <% if @customization_review == "formal" || @customization_review == "informal" || (@customization_review == nil && @template_review == "formal") || (@customization_review == nil && @template_review == "informal")%>
            <hr/>
            <div class="control-group">
              <%= content_tag :p, t('.reviewer_comments'), class: 'control-label' %>
              <div class="controls">
                <p>
                  <%= link_to content_tag(:span, '', class: 'icon-chevron-down') + t('.view_comments_link'), '#', class: 'view-reviewer-comments' %>
                  <%= link_to content_tag(:span, '', class: 'icon-chevron-up') + t('.hide_comments_link'), '#', class: 'hide-reviewer-comments' %>
                </p>
                <div id="reviewer_comments" class="comments">
                  <div class="ajax_load_reviewer">
                    <% if @reviewer_comments.empty? %>
                      <%= content_tag :strong, t('.no_comments') %>
                      <br/>
                    <% else %>
                      <div class="scrollable-container">
                        <div class="scrollable-content">
                          <br/>
                          <%= render partial: 'comments/index_reviewer_comments' %>
                        </div>
                      <div class="scrollable-bottom-handle ui-resizable-handle ui-resizable-s"></div>
                    </div>
                    <% end %>
                  </div>
                  <br/>
                  <p><%= link_to t('.add_comment_button'), '#', data: {comment_type: :reviewer}, class: 'btn add_comments_link' %></p>
                </div>
              </div>
            </div>
          <% end %>
					<hr/>
          <div class="control-group">
            <%= content_tag :p, t('.owner_comments'), class: 'control-label' %>
            <div class="controls">
              <p>
                <%= link_to content_tag(:span, '', class: 'icon-chevron-down') + t('.view_comments_link'), '#', class: 'view-owner-comments' %>
                <%= link_to content_tag(:span, '', class: 'icon-chevron-up') + t('.hide_comments_link'), '#', class: 'hide-owner-comments' %>
              </p>
              <div id="owner_comments" class="comments">
                <div class ="ajax_load_owner">
                  <% if @owner_comments.empty? %>
                    <%= content_tag :strong, t('.no_comments') %>
                    <br/>
                  <% else %>
                    <div class="scrollable-container">
                      <div class="scrollable-content">
                        <br/>
                        <%= render partial: "comments/index_owner_comments" %>
                      </div>
                      <div class="scrollable-bottom-handle ui-resizable-handle ui-resizable-s"></div>
                    </div>
                  <% end %>
                </div>
                <br/>
                <p><%= link_to t('.add_comment_button'), '#', data: {comment_type: :owner}, class: 'btn add_comments_link' %></p>
              </div>
            </div>
          </div>
          <hr/>

          <div class="control-group">
            <p class ="control-label"><%= Plan.human_attribute_name(:visibility) %></p>
            <div>
              <div class="controls">
                <%= content_tag :p, t('.plan_visibility_html', visibility: t_enum(@plan, :visibility)) %>
                <%= link_to t('.change_settings_button'), '#', class: 'btn change_visibility_link',
                            data: {planid: @plan.id, visibility: @plan.visibility}, style: 'margin-left:-20px' %>

                <div style=" width:200px; float:right; margin-right:380px; margin-top:-36px; line-height:20px">
                  <%= t('.visibility_note_html') %>
                </div>
              </div>
            </div>
          </div>

          <hr/>
          <div class="control-group">
            <%= content_tag :p, t('.actions'), class: 'control-label' %>
              <div class="controls">
              <p>
                <%= link_to t('.preview_plan_link'), preview_plan_path(@plan) %>
                <% if @customization_review == true || (@customization_review == nil && @template_review == true) %>
                  | <%= link_to t('.submit_plan_link'), preview_plan_path(@plan) %>
                <% end %>
                <% unless @coowners.include?(@user) %>
                  | <%= link_to t('.delete_plan_link'), @plan, method: :delete,  style: 'color:red;', data: {confirm: t('globals.messages.prompt.confirm'), id: 'delete_template'} %>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>

        <div class="buttons">
          <% unless @plan.new_record? %>
            <%= render_submit_button t: '.save', name: 'save_changes' %>
            <%= render_submit_button t('.save_and_next'), name: 'save_and_dmp_details', class: 'pull-right' %>
            <%= render_cancel_button class: 'btn-success' %>
          <% else %>
            <%= render_submit_button t('.save_and_next'), name: 'save_and_dmp_details', class: 'pull-right' %>
            <%= render_back_button class: 'pull-left', arrow: true, green: true %>
            <%= render_cancel_button class: 'btn-success' %>
           <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("div.scrollable-container").resizable({ containment: "parent", minHeight: 100, handles: "s" });
</script>
