<% # This partial takes a local plan variable %>

<table>

  <tr>
    <td><%= content_tag :strong, Plan.human_attribute_name(:name) %></td>
    <td><%= plan.name %></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td><%= content_tag :strong, Plan.human_attribute_name(:requirements_template_id) %></td>
    <% unless plan.requirements_template.nil? %>
      <td><%= plan.requirements_template.name %></td>
    <% else %>
       <td></td>
    <% end %>
    <td><%= content_tag :strong, Plan.human_attribute_name(:updated_at) %></td>
    <td><%= l(plan.updated_at.to_date, format: :long) %></td>
  </tr>

  <tr>
    <td><%= content_tag :strong, Plan.human_attribute_name(:owner) %></td>
    <td><%= plan.owner.full_name || t('.no_owner') %></td>
    <td><%= content_tag :strong, t('.coowners') %></td>

    <td>
      <%if @coowners%>
        <%= @coowners.map { |coowner| coowner.full_name.to_s }.join(", ") %>
      <%end%>
    </td>
  </tr>

  <tr>
  <td><%= content_tag :strong, User.human_attribute_name(:institution_id) %></td>
    <% unless plan.owner.nil? %>
      <td><%= plan.owner.institution.name %></td>
    <% else %>
       <td></td>
    <% end %>
  <td><%= content_tag :strong, Plan.human_attribute_name(:solicitation_identifier) %></td>
  <td>
    <%= plan.solicitation_identifier || t('.no_si') %>
  </td>
  </tr>

</table>

<hr/>
<div class="row-fluid">
</div>
<div class="dmp-preview">
  <%= render(partial: "requirement",
             collection: (plan.requirements_template.requirements.order(:position).roots),
             locals: { heading: "" }) %>
</div>