<%  # should pass local variable of "plans" and "namespace" and "show_institution"
    # plans is the collection of plans to show
    # namespace is a string to add to the front of parameters to keep them separate
    # show_institution is a boolean that indicates whether the institution column should be shown
%>




<table class="table table-striped">
<thead>
<%# wanted_params = params.slice('all_scope','s', 'e') %>
<tr>
  <th class="span5"><%= sortable :name, namespace: namespace %></th>
  <th class="span5"><%= sortable :requirements_template_id, t('.funder_template_link'), namespace: namespace %></th>
  <% if show_institution %>
    <th class="span5"><%= sortable :institution_id, namespace: namespace %></th>
  <% end %>
  <th class="span5"><%= sortable :owner, namespace: namespace %></th>
  <th><%= t('.download') %></th>
</tr>
</thead>
<tbody>

  <div class="toggle-links">
    <tr><td colspan="5" style="text-align: center;"><%= t('.no_results') %></td></tr>
  </div>

</tbody>
</table>



