<!-- <h2><%= heading %><%#= requirement_counter + 1 %> <strong><%= requirement.text_brief %></strong><h2> -->

<DL>

  <dt>
    <%= heading %><%#= requirement_counter + 1 %> <strong><%= requirement.text_brief %></strong>
  </dt>
  <dd>
    <%- if requirement.children.size > 0 then -%>
      <div class="dmp-preview">
        <%= render partial: 'requirement',
                   collection: requirement.children.order(:position),
                   locals: {heading: heading} %>
      </div>
    <%- end -%>

    <div>
      <%= requirement.response_html(@plan) %>
    </div>
  </dd>

</DL>


 <!--  <DL>
<DT>Term
<DD>Description
</DL>
 -->