<% @title_text = t('.dmp_details') %>
<% @display_menu = "plans:details" %>

<%= i18n_include_tag %>
<%= i18n_include_tag 'shared.button', 'shared.submit_button' %>
<h1 class="row-fluid"><span class="icon template-details"></span><%= t('.dmp_details') %></h1>
<h2><%= @requirements_template.name %></h2>
<div class="row-fluid">
  <div class="details span4">
    <%= content_tag :p, t('.edit_instructions') %>
    <p><span class="icon confirm"></span><%= t('.complete_icon_meaning') %></p>
    <p><span class="required"> &nbsp;* </span><%= t('.mandatory_icon_meaning') %></p>
    <div class="border-box">
      <p><strong><%= t('.template_outline') %></strong></p>
      <hr/>
      <div class="requirements-tree-view">
        <%= render partial: 'shared/requirements_tree', locals: { requirements: @requirements.roots } %>
      </div>
    </div>
  </div>
  <div class="tabbable span8">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab"><%= t('.instructions') %></a></li>

      <% unless @url_resources.empty? && @requirement.global_resources.actionable_url.empty? && @requirement.template_resources.actionable_url.empty? && @requirement.requirement_resources.actionable_url.empty? && @requirement.template_customization_resources(current_user.institution_id).actionable_url.empty? && @requirement.institution_customization_resources(current_user.institution_id).actionable_url.empty? %>
          <li><a href="#tab2" data-toggle="tab"><%= t('.links') %></a></li>
      <% end %>

      <% unless @suggested_resources.empty? && @requirement.global_resources.suggested_response.empty? && @requirement.template_resources.suggested_response.empty? && @requirement.requirement_resources.suggested_response.empty? && @requirement.template_customization_resources(current_user.institution_id).suggested_response.empty? && @requirement.institution_customization_resources(current_user.institution_id).suggested_response.empty? %>
          <li><a href="#tab3" data-toggle="tab"><%= t('.suggested_response') %></a></li>
      <% end %>

      <% unless @example_resources.empty? && @requirement.global_resources.example_response.empty? && @requirement.template_resources.example_response.empty? && @requirement.requirement_resources.example_response.empty? && @requirement.template_customization_resources(current_user.institution_id).example_response.empty? && @requirement.institution_customization_resources(current_user.institution_id).example_response.empty? %>
          <li><a href="#tab4" data-toggle="tab"><%= t('.example_response') %></a></li>
      <% end %>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <%= render partial: 'guidance', locals: { requirement_id: params[:requirement_id] } %>
      </div>
      <div class="tab-pane" id="tab2">
        <%= render partial: 'actionable_url', locals: { requirement_id: params[:requirement_id] } %>
      </div>
      <div class="tab-pane " id="tab3">
        <%= render partial: 'suggested_response', locals: { requirement_id: params[:requirement_id] } %>
      </div>
      <div class="tab-pane" id="tab4">
        <%= render partial: 'example_response', locals: { requirement_id: params[:requirement_id] } %>
      </div>

      <br/>
      <fieldset>
        <!-- <strong style="color:#516935; margin-left: 1em;"> Your Response </strong> -->
        <% if @requirement.obligation == :mandatory %>
          <strong style="margin-left: 10px;"><%= t('.mandatory') %></strong>
        <% end %>
        <%= render partial: 'responses/form', locals: { requirement_id: params[:requirement_id], plan_id: @plan.id } %>
      </fieldset>
    </div>
  </div>
  <div style="clear: both;"></div>
  <div>
    <% if (referer_hash[:controller] == 'plans' && referer_hash[:action] == 'new') || (referer_hash[:controller] == 'plans' && referer_hash[:action] == 'copy_existing_template') %>
      <%= render_back_button edit_plan_path(@plan), arrow: true, class: 'pull-left' %>
    <% else %>
      <%= render_back_button arrow: true, class: 'pull-left' %>
    <% end %>
    <%= link_to t('.preview_button'), '#' , class: 'btn btn-green pull-right', role: "button", id: 'save_on_preview' %>
  </div>
</div>
<script type="text/javascript">
  tab_jump();
  add_tab_to_pagination();
</script>
<script type="text/javascript">
  function fixed_size(id, pixels){
    document.getElementById(id).style.height = pixels + 'px';
    //$j('#'+id).css('height', pixels + 'px');
  }

  function full_size(id){
    document.getElementById(id).style.height = 'auto';
    //$j('#'+id).css('height', 'auto');
  }
</script>
<script type="text/javascript">
$(function() {
  $("#save_on_preview").bind("click",function(e) {
    $('#true_on_preview').val(true);
    $(".form-horizontal").submit();
  });
});
</script>