<% @title_text = t('.title') %>
<% @display_menu = "my_dmps" %>

<% @plan_id = nil %>
<h1 class="row-fluid"><span class="icon dmp-template"></span><%= @title_text %></h1>
<div class="table-scope">
  <%= link_to t('.filter_all_link',       count: @all),       {order_scope: @order_scope, scope: 'all_limited', all_scope: @all_scope}, class: 'all_limited' %>
  |
  <%= link_to t('.filter_owned_link',     count: @owned),     {order_scope: @order_scope, scope: 'owned',       all_scope: @all_scope}, class: 'owned' %>
  |
  <%= link_to t('.filter_coowned_link',   count: @coowned),   {order_scope: @order_scope, scope: 'coowned',     all_scope: @all_scope}, class: 'coowned' %>
  |
  <%= link_to t('.filter_approved_link',  count: @approved),  {order_scope: @order_scope, scope: 'approved',    all_scope: @all_scope}, class: 'approved' %>
  |
  <%= link_to t('.filter_submitted_link', count: @submitted), {order_scope: @order_scope, scope: 'submitted',   all_scope: @all_scope}, class: 'submitted' %>
  |
  <%= link_to t('.filter_committed_link', count: @committed), {order_scope: @order_scope, scope: 'committed',   all_scope: @all_scope}, class: 'committed' %>
  |
  <%= link_to t('.filter_rejected_link',  count: @rejected),  {order_scope: @order_scope, scope: 'rejected',    all_scope: @all_scope}, class: 'rejected' %>
  |
  <%= link_to t('.filter_reviewed_link',  count: @reviewed),  {order_scope: @order_scope, scope: 'reviewed',    all_scope: @all_scope}, class: 'reviewed' %>

  <%= content_tag :span, '', title: t('.filter_tooltip_html'), data: {toggle: 'tooltip', placement: 'right', html: 'true'}, class: 'icon questionmark tip' %>
</div>

<table class="table table-striped" id="dmp_plans">
  <thead>
    <tr>
      <th>
        <%= sortable :name %>
      </th>
      <th class="span3">
        <%= sortable :owner %>
      </th>
      <th>
        <%= sortable :current_plan_state_id %>
      </th>
      <th>
        <%= sortable :visibility %>
        <%= render partial: 'plans_table_visibility_tooltip' %>
      </th>


      <th>
        <%= sortable :updated_at %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td class="plan_name">
          <div class="toggle-links">
            <strong id=<%= plan.name %>> <%= plan.name %></strong>
            <div class="template-links">
              <% @plan_id = plan.id %>
                <%= link_to t('.overview_link'), edit_plan_path(plan) %>
              | <%= link_to t('.details_link'), details_plan_path(plan) %>
              | <%= link_to t('.share_link'), '#', class: 'change_visibility_link', data: {planid: plan.id, visibility: plan.visibility} %>

              <%# if (review_type(plan) == true) || (review_type(plan) == nil && plan.requirements_template.try(:review_type) && plan.requirements_template.review_type != :no_review) %>
                | <%= link_to t('.preview_link'), preview_plan_path(plan) %>
              <%# end %>
              | <%= link_to t('.copy_link'), copy_existing_plans_template_path(plan: plan) %>
              <br><%= link_to t('.export_pdf_link'), plan_path(plan, format: :pdf) %>
              | <%= link_to t('.export_docx_link'), plan_path(plan, format: :docx) %>
              <% unless coowner(plan) == true %>

              | <%= link_to t('.delete_link'), plan_path(plan, order_scope: @order_scope, scope: @scope,  all_scope: @all_scope),
                            class: 'delete',  method: :delete, data: {confirm: t('globals.messages.prompt.confirm')} %>
              <% end %>
            </div>
          </div>
        </td>
        <td><%= owner_name(plan) %></td>
        <td><strong><%= translated_state(plan) %></strong></td>

        <%case plan.visibility%>
        <%when :private%>
          <td class="span1">
            <%= content_tag :span, '', title: t_enum(:plan, :visibility, :private), class: 'private-visibility icon' %>
          </td>
        <%when :public%>
          <td class="span1">
            <%= content_tag :span, '', title: t_enum(:plan, :visibility, :public), class: 'public-visibility icon' %>
          </td>
        <%when :institutional%>
          <td class="span1">
            <%= content_tag :span, '', title: t_enum(:plan, :visibility, :institutional), class: 'institutional-visibility icon' %>
          </td>
        <%when :unit%>
          <td class="span1"><span title="Unit"></span>
            <%= image_tag 'unit.png', size: '38x28',
                          alt: t_enum(:plan, :visibility, :unit),
                          title: t_enum(:plan, :visibility, :unit) %>
          </td>
        <%else%>
          <td class="span1">
            <%= content_tag :span, '', title: t_enum(:plan, :visibility, :public), class: 'public-visibility icon' %>
          </td>
        <%end%>

        <td><%= l(plan.updated_at) %></td>
      </tr>
    <% end %>
  <tbody>
</table>

  <% if @all_scope == "all" %>
    <div class="buttons pagination">
      <%= render_button_link t: '.view_less',
                             href: plans_path(order_scope: @order_scope, scope: @scope, all_scope: '', direction: @direction),
                             id: 'view_all_plans' %>
      <%= paginate @plans %>
    </div>
  <% else %>
    <div class="buttons pagination">
      <%= render_button_link t: '.view_all',
                             href: plans_path(order_scope: @order_scope, scope: @scope, all_scope: 'all', direction: @direction),
                             id: 'view_all_plans' %>
      <%= paginate @plans %>
    </div>
  <%end%>

    <!-- </tr> -->
  <!-- </tbody> -->
<!-- </table> -->
<%= button_to t('.new_plan_button'), plan_template_information_path, method: :get, class: 'btn' %>
<div id = 'visibility_dialog_form'>
  <%= render partial: 'change_visibility', locals: {:plan_id => @plan_id} %>
</div>
