<% @display_menu = "review_dmp" %>

<%= i18n_include_tag %>
<%= i18n_include_tag 'shared.button_button', 'shared.submit_button' %>
<h1 class="row-fluid"><span class="icon review"></span><%= t('.title') %></h1>
<br/>
<h3><%= content_tag :strong, t('.perform_review') %></h3>
<div class="scrollable-container">
  <div class="scrollable-content">
    <%= render :partial => 'html_render', locals: {plan: @plan} %>
  </div>
  <div class="scrollable-bottom-handle ui-resizable-handle ui-resizable-s"></div>
</div>

<br/>

<h3><%= content_tag :strong, Comment.model_name.human(count: false) %></h3>
<br/>

<div class="comments">

  <% if @reviewer_comments.empty? %>
  <%# if @all_comments.empty? %>
    <%= content_tag :strong, t('.no_comments') %>
    <br/>
  <% else %>
    <div class="scrollable-container">
      <div class="scrollable-content">
        <br/>
        <%= render partial: 'comments/index_reviewer_comments' %>
      </div>
    <div class="scrollable-bottom-handle ui-resizable-handle ui-resizable-s"></div>
  </div>
  <% end %>
  <br/>
  <p>
    <%= link_to t('.add_comment_button'), '#', data: {comment_type: :reviewer}, class: 'btn add_comments_link' %>
  </p>
</div>

<% unless @customization.nil? %>
  <% if @customization.review_type == :formal_review %>
    <fieldset class="spaced_below">
      <%= content_tag :div, t('.review_decision'), class: 'control-label' %>
      <% if state(@plan) == :approved || state(@plan) == :rejected %>
        <%= t('.plan_state_html', state: translated_state(@plan)) %>
      <% else %>
        <%= render_button_link t('.approve_button'), plan_plan_states_approved_path(@plan), method: :post, green: true %>
        <%= link_to t('.reject_button'), '#', id: 'reject_with_comments_link', class: 'btn' %>
      <% end %>
    </fieldset>
  <% elsif @customization.review_type == :informal_review %>
    <fieldset class="spaced_below">
      <% if state(@plan) == :reviewed %>
        <%= t('.plan_state_html', state: translated_state(@plan)) %>
      <% else %>
      <%= render_button_link t('.reviewed_button'), plan_plan_states_reviewed_path(@plan), method: :post, green: true %>
      <% end %>
    </fieldset>
  <% elsif @customization.review_type == :no_review %>
  <% end %>

<% else %>

  <% if @plan.requirements_template.review_type == :formal_review %>
      <fieldset class="spaced_below">
      <%= content_tag :div, t('.review_decision'), class: 'control-label' %>
      <% if state(@plan) == :approved || state(@plan) == :rejected %>
        <%= t('.plan_state_html', state: translated_state(@plan)) %>
      <% else %>
        <%= render_button_link t('.approve_button'), plan_plan_states_approved_path(@plan), method: :post, green: true %>
        <%= link_to t('.reject_button'), '#', id: 'reject_with_comments_link', class: 'btn' %>
      <% end %>
    </fieldset>
  <% elsif @plan.requirements_template.review_type == :informal_review %>
      <fieldset class="spaced_below">
      <% if state(@plan) == :reviewed %>
        <%= t('.plan_state_html', state: translated_state(@plan)) %>
      <% else %>
      <%= render_button_link t('.reviewed_button'), plan_plan_states_reviewed_path(@plan), method: :post, green: true %>
      <% end %>
    </fieldset>
  <% elsif @plan.requirements_template.review_type == :no_review %>
  <% end %>

<% end %>
<div id = "comment_dialog_form">
	<%= render partial: 'comments/form', locals: {:plan_id => params[:id] } %>
</div>
<div id = "reject_dialog_form">
  <%= render partial: 'reject_with_comments', locals: {:plan_id => params[:id] } %>
</div>
<hr/>
<%= render_back_button href: review_dmps_path(@plan), green: true %>

<script type="text/javascript">
  $("div.scrollable-container").resizable({ containment: "parent", minHeight: 150, handles: "s" });
</script>