<% @title_text = t('.browser_title') %>
<% @display_menu = "public_dmps" %>
<h1 class="row-fluid"><span class="icon public-dmps"></span><%= t('.title') %></h1>
<br/>
<div class="row-fluid">
	<div class="span8">
		<%= t('.description_html') %>
	</div>
	<div class="search-area span4 pull-right">
			<%= form_tag('', {:method => :get}) do %>
				<div class="control-group pull-right">
					<%= render partial: 'shared/search' %>
				</div>
			<% end %>
	</div>
</div>
<br/>
<div class="row-fluid">
	<%= render_filter_button 'public:page' => 1, s: 'a', e: 'f' %>
	<%= render_filter_button 'public:page' => 1, s: 'g', e: 'l' %>
	<%= render_filter_button 'public:page' => 1, s: 'm', e: 's' %>
	<%= render_filter_button 'public:page' => 1, s: 't', e: 'z' %>
	<%= render_filter_button 'public:page' => 1, s: 'a', e: 'z' %>
</div>
<br/>

<%if params[:q] && @plans.count == 0%>
	<%= render partial: 'public_dmps_no_result', locals: {plans: @plans, namespace: 'public', show_institution: true} %>
<%else%>
	<%= render partial: 'generic_table', locals: {plans: @plans, namespace: :public, show_institution: true} %>
<%end%>

<% unless @inst_plans.nil? || @inst_plans.length < 1 %>
  <br/>
  <h1 class="row-fluid"><span class="icon public-dmps"></span><%= t('.institutional_dmps') %></h1>
  <%= render partial: 'generic_table', locals: {plans: @inst_plans, namespace: :institutional,
              show_institution: @show_institution} %>
<% end %>



