<% @title_text = t('.title') %>
<% @display_menu = "plans" %>

<%= i18n_include_tag %>
<%= i18n_include_tag 'shared.button_button', 'shared.submit_button' %>
<h1 class="row-fluid"><span class="icon new-template"></span><%= @title %></h1>
<div class="dmptool-page row-fluid">
	<div class="span6">
		<%= content_tag :h2, t('.use_template') %>
		<%= t('.use_template_instructions_html') %>
		<%= button_to t('.use_template_button'), select_dmp_template_path, method: :get, class: 'btn' %>
	</div>
	<div class="span6">
		<%= content_tag :h2, t('.copy_plan') %>
		<%= t('.copy_plan_instructions_html') %>
		<%= form_tag copy_existing_plans_template_path, method: :get do %>
			<table class="table table-striped">
				<thead>
					<tr>
						<th class="span1"></th>
						<%= content_tag :th, Plan.human_attribute_name(:name) %>
						<%= content_tag :th, Plan.human_attribute_name(:owner) %>
						</tr>
					</thead>
				<tbody>
				<% @plans.each do |plan| %>
					<tr>
						<td class="span1"><%= radio_button_tag :plan,  plan.id, checked: false %></td>
						<!-- <th> tag below added in place of <td> for accessibility -->
						<th scope="row"><%= label_tag "plan_#{plan.id}", plan.name %></th>
						<td><%= owner_name(plan)%></td>
					</tr>
				<% end %>
				</tbody>
			</table>
			<div class="buttons pagination">
				<%= paginate @plans %>
			</div>
			<%= submit_tag t('.copy_plan_button'), class: 'btn' %>
		<% end %>
	</div>
</div>
