<% @title_text = t('.title') %>
<% @display_menu = "log_in" %>
<br/>
<h1 class="row-fluid"><span class="icon login"></span><%= @title_text %></h1>
<div class="login row-fluid">
	<div class="span5 user_login">
    <%= content_tag :p, t('.instructions', email: @user.email) %>
	  <%= form_tag({:action => 'complete_password_reset'}, {:method => 'post'}) do %>

	    <div class="control-group">
	      <%= label_tag :password, t('attributes.new_password') %>
	      <%= password_field_tag :password, params[:password], {:tabindex => '1'} %>
	    </div>

	    <div class="control-group">
	      <%= label_tag :password_confirmation, t('attributes.password_confirmation') %>
	      <%= password_field_tag :password_confirmation, params[:password_confirmation], {:tabindex => '2'} %>
	    </div>

	    <%= submit_tag t('.submit'), {:tabindex => '3'} %>

	    <%= hidden_field_tag(:id, @user.id) %>
	    <%= hidden_field_tag(:token, @user.token) %>
	  <% end %>
	</div>
</div>