<% @title_text = t('.browser_title') %>
<% @display_menu = "log_in" %>
<h1 class="row-fluid"><span class="icon login"></span><%= t('.title') %></h1>
<div class="login row-fluid">
	<div class="span5 user_login">
		<%= content_tag :h2, t('.instructions_title') %>
	  <%= form_tag login_path, method: :post do %>
			<div class="control-group select_institution">
				<p><%= label_tag :institution_id, t('.instructions') %></p>
        <%= select_tag :institution_id,
                       options_for_select(@inst_list, selected: session[:institution_id]),
                       prompt: t('.prompt_default_text'),
                       class: 'institution' %>

	  	</div>
	    <%= submit_tag t('.submit_button') %>
	  <% end %>
	  <%= t('.note_html') %>
	</div>
</div>
