<% @title_text = t('.browser_title') %>
<% @display_menu = "log_in" %>
<h1 class="row-fluid"><span class="icon login"></span><%= t('.title') %></h1>
<div class="login row-fluid">
	<div class="span7">
		<p>
      <%= content_tag :strong, t('.institution') %>
      <br/>
			<%= @institution.full_name %>
    </p>
	  <%= form_tag '/auth/ldap/callback', method: :post do %>
	    <%= hidden_field_tag :institution_id, session[:institution_id]%>
	    <div class='control-group'>
        <%= label_tag :username, User.human_attribute_name(:login_id), class: 'control-label' %>
		    <%= text_field_tag :username %>
		  </div>
		  <div class='control-group'>
        <%= label_tag :password, t('attributes.password'), class: 'control-label' %>
		    <%= password_field_tag :password %>
	    </div>
	    <div class='control-group'>
		    <%= check_box_tag :remember_my_username %>
        <%= label_tag :remember_my_username, t('.remember_me_checkbox'), class: 'checkbox-label' %>
		  </div>
      <%= submit_tag t('.submit_button') %>
	  <% end %>
	  <div class="control-group forgot_password">
      <p>
        <%= link_to t('.reset_username_link'), action: 'username_reminder' %>
        <br/>
				<%= link_to t('.reset_password_link'), action: 'password_reset' %>
      </p>
		</div>
	</div>
	<div class="span5">

		<div class="control-group create_account">
			<p><%= content_tag :strong, t('.create_account') %></p>
      <%= render_button_link t('.create_account_button'),
                             href: new_user_path(institution_id: session[:institution_id]),
                             green: true %>
		</div>
	</div>
</div>
