<% @title_text = t('.title') %>
<% @display_menu = "log_in" %>
<br/>
<h1 class="row-fluid"><span class="icon login"></span><%= @title_text %></h1>
<div class="login row-fluid">
	<div class="span5 user_login">
		<%= content_tag :p, t('.instructions') %>
	  <%= form_tag({:action => 'username_reminder'}, {:method => 'post'}) do %>
			<div class="control-group">
				<%= label_tag :email, t('.email') %>
				<%= text_field_tag(:email, params[:email])%>
	  	</div>
	    <%= render_submit_button %>
	  <% end %>
	</div>
</div>