<nav class="dashboard-submenu">
  <ul class="children dmp-templates">
    <!-- The following adds "current" class when on DMP Overview page -->
    <% if menu_level(1) == 'overview' %>
      <li class="current"><%= link_to content_tag(:span, t('.overview')), '#' %></li>
      <% if @plan && @plan.id %>
        <li>
          <%= link_to_details_plan(@plan, t: '.details') {|text| content_tag :span, text} %>
        </li>
        <li>
          <%= link_to_preview_plan(@plan, t: '.preview') {|text| content_tag :span, text} %>
        </li>
      <% end %>
      <li class="last"></li>
    <% end %>
    <!-- The following adds "current" class when on DMP Details page -->
    <% if menu_level(1) == 'details' %>
      <li>
        <%= link_to_edit_plan(@plan, t: '.overview') {|text| content_tag :span, text} %>
      </li>
      <li class="current"><%= link_to content_tag(:span, t('.details')), '#' %></li>
      <li>
        <%= link_to_preview_plan(@plan, t: '.preview') {|text| content_tag :span, text} %>
      </li>
      <li class="last"></li>
    <% end %>
    <% if menu_level(1) == 'preview' %>
      <li>
        <%= link_to_edit_plan(@plan, t: '.overview') {|text| content_tag :span, text} %>
      </li>
      <li>
        <%= link_to_details_plan(@plan, t: '.details') {|text| content_tag :span, text} %>
      </li>
      <li class="current"><%= link_to content_tag(:span, t('.preview')), '#' %></li>
      <li class="last"></li>
    <% end %>
  </ul>
</nav>
