<header class="header container">
  <%= render partial: 'layouts/language_switcher' %>

  <%= link_to_root title: t('.dmptool_logo_tooltip', default: url_text_i18n_keys(controller: :static_pages, action: :home)),
                   class: 'logo' do |text| %>
    <%= image_tag 'dmp_logo.png', alt: t('.dmptool_logo_alt'), width: 146, height: 25 %>
  <% end %>
  <div class="welcome">
    <p>
      <%= t('.welcome_html', user: current_user.full_name) if current_user %>
    </p>
  </div>
  <nav class="navbar">
    <ul class="nav">
      <% layout.header.each_item do |item| %>
        <%= item if item.render? %>
      <% end %>
      <li class="login<%= (menu_level(0) == 'log_in' ? ' current' : '') %>">
        <% if current_user %>
          <%= link_to_logout do |text| %>
            <%= content_tag :span, '', class: 'icon user-login' %>
            <%= text %>
          <% end %>
        <% else %>
          <%= link_to_choose_institution do |text| %>
            <%= content_tag :span, '', class: 'icon user-login' %>
            <%= text %>
          <% end %>
        <% end %>
      </li>
    </ul>
  </nav>
</header>
