<header class="header container">
  <%= link_to(image_tag("dmp_logo.png", :alt => "DMPTOOL", :width => "146", :height => "25"), root_path, :class => "logo", :title => "DMPTool Home") %>
  <div class="welcome">
    <p><%= "Welcome!" unless current_user.nil? %>
      <%= content_tag(:strong, "#{current_user.full_name}") unless current_user.nil? %></p>
  </div>
  <nav class="navbar">
    <ul class="nav">
      <% layout.header.each_item do |item| %>
        <%= item if item.render? %>
      <% end %>
      <li class="login<%= (menu_level(0) == 'log_in' ? ' current' : '') %>">
        <%= link_to(content_tag(:span, "", :class => "icon user-login") + "Log In", choose_institution_path) if !current_user %>
        <%= link_to(content_tag(:span, "", :class => "icon user-login") + "Log Out", logout_path) if current_user %></li>
    </ul>
  </nav>
</header>